[2014-04-15 18:39] dimdin opened #1 "Can't create utf8 to ucs2 convertor"
I am getting:
panic: Can't create utf8 to ucs2 convertor: invalid argument

"ucs2" does not exist in the list of iconv 1.11 encodings (default Mac OS X setup).
"UCS-2" is accepted but does not work because it uses big endian encoding.
"UCS-2LE" works and I was able to succesfully connect to an SQL Server from Mac OS X by changing the following lines in tds.go:
utf82ucs2, err = iconv.NewConverter("

[2014-04-17 00:09] hochhaus opened #3 "ORDER BY support (Invalid TDS stream: Unknown token type: 169)"
I'm doing some basic testing and I'm hitting the following error:

[code]

The code I'm running is the following:

[code]

However, if I change my query to omit the "ORDER BY" the code runs as expected.

[code]

Can I provide any additional information to help isolate the issue? I'm not currently familiar with the TDS protocol but if no one has ideas I'm willing to dig in.

[2014-04-17 04:36] #3 closed, assigned to nobody

[2014-04-17 06:46] #1 closed, assigned to nobody

[2014-04-17 20:28] dimdin opened #5 "Driver values are not limited to the valid types"
Driver value must be nil or an instance of types:
int64, float64, bool, []byte, string, time.Time

http://golang.org/src/pkg/database/sql/driver/driver.go?s=566:588#L12
http://golang.org/src/pkg/database/sql/sql.go?s=3988:4393#L150

e.g. you cannot return int32, you must return int64.
you cannot return Decimal, you must return []byte with the decimal digits and the end user can use string or float

[2014-04-17 21:13] hochhaus opened #6 "rows.Next() returns data multiple times (in some cases)"
In some of my queries I am seeing the the same row being returned multiple times (even though it only appears once in the database). This minimal test case shows the behavior I'm seeing on a larger data set.

[code]

Which outputs:

[code]

However the value "3" only appears one time in the source database.

[2014-04-17 21:50] #6 closed, assigned to nobody

[2014-04-20 11:39] #5 closed, assigned to denisenkom

[2014-04-21 15:59] hochhaus opened #13 "'?' always replaced as parameter (even in string literals and comments)"
Thanks for all of the work @denisenkom and @dimdin. It is exciting how quickly go-mssqldb is maturing. I am a bit concerned with change https://github.com/denisenkom/go-mssqldb/commit/0a8a8cf5b857a9e6f5a99d1b6b5a9e1ab235e3d7 that uses '?' for parameters. I'm interested in both your thoughts about the best way to proceed.

It looks like if go-mssqldb uses '?' the library will need to parse the quer

[2014-04-22 00:49] #13 closed, assigned to nobody

[2014-05-01 15:44] zsouthboy opened #15 "Unhelpful error when server or instance's case in connection string do not match DB's getInstances() response"
This just bit me while trying to get up and running.
Given an mssql server 2008r2 whose internal name is SOMESERVER\SOMEINSTANCE:
`sql.Open("mssql", "server=someserver\\someinstance,...")`

The initial connection to ask for instances at that address, getInstances(), succeeds since DNS is case-insensitive and resolves, but the reply's case does not match, so when we attempt to (in tds.go, connect()

[2014-05-01 19:49] bbigras opened #17 "--- FAIL: TestSelect with MSSQL 2005"
TestSelect fails with a MSSQL 2005 server because I think date, time and datetime2 are not supported.

[code]

[2014-05-01 21:43] bbigras opened #19 "Problem with negative numbers"
If you do `SELECT -1` you get 4294967295.

With the test case I have :

[code]

I have the problem on Windows 7 (64-bits) and Ubuntu 14.04 (32-bits) with Go 1.2.1.

Microsoft SQL Server 2005 - 9.00.3042.00 (X64)   Feb 10 2007 00:59:02   Copyright (c) 1988-2005 Microsoft Corporation  Standard Edition (64-bit) on Windows NT 5.2 (Build 3790: Service Pack 2)

[2014-05-02 01:15] #15 closed, assigned to nobody

[2014-05-02 03:28] #19 closed, assigned to nobody

[2014-05-02 20:28] dimdin opened #22 "select SERVERPROPERTY('productversion') panics"
it works with a cast: select cast(SERVERPROPERTY('productversion') as nvarchar(max))

panics with SQL Server 2005 when processing the column metadata:

github.com/denisenkom/go-mssqldb.badStreamPanic(0x3abe80, 0xc210036070)
    /Users/din/go/src/github.com/denisenkom/go-mssqldb/error.go:39 +0x49
github.com/denisenkom/go-mssqldb.(_tdsBuffer).ReadFull(0xc21004e300, 0xc21000bc40, 0x1a2, 0x1a2)
    /U

[2014-05-02 22:34] captncraig opened #23 "Constraint violation not detected"
I have some queries that cause a constraint violation:

[code]

I would expect that the second Exec call would return an error in this case, but it is not.

the c# code I am porting throws SqlException (2627) on a unique key violation, and I can't seem to find a way to detect that.

panic is in mssql.go:352

[2014-05-03 00:13] #17 closed, assigned to nobody

[2014-05-03 02:51] denisenkom opened #25 "Need to support different collations for VARCHAR types"

[2014-05-03 03:29] denisenkom opened #26 "Implement sql_variant types"

[2014-05-03 04:32] #26 closed, assigned to denisenkom

[2014-05-03 04:33] #22 closed, assigned to denisenkom

[2014-05-03 17:16] denisenkom opened #27 "Add support for SSL encryption"
Reference: http://msdn.microsoft.com/en-us/library/dd357559.aspx

[2014-05-03 17:26] denisenkom opened #28 "Support for MARS maybe"
Specs: http://msdn.microsoft.com/en-us/library/cc219643.aspx

[2014-05-03 17:42] dimdin opened #29 "Cancel the query on premature MssqlRows.Close()"
if Close is called before the result set is consumed the processResponse goroutine might block (if there are more records that the size of the channel buffer (5)) and wait forever.

[2014-05-04 03:45] starchou opened #31 "Read VARCHAR type, data is garbled when Chinese"
Read VARCHAR type, data is garbled when Chinese，it is support Chinese ？

[2014-05-04 05:54] #31 closed, assigned to nobody

[2014-05-04 19:53] #25 closed, assigned to dimdin

[2014-05-05 20:05] #23 closed, assigned to nobody

[2014-05-06 13:29] bbigras opened #32 "mssql: The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 4 ("@p2"): Data type 0xE7 has an invalid data length or metadata length."
I have the following error when I do :

[code]

[code]

I have a testcase.

[2014-05-06 17:53] #32 closed, assigned to nobody

[2014-05-06 18:21] dimdin opened #34 "When executing statements with parameters the RowsAffected always returns 0"

[2014-05-06 18:46] #34 closed, assigned to dimdin

[2014-05-18 09:14] gaspardle opened #35 "Every colon ":" are treated like parameters"
Ex.:
SELECT geometry::STGeomFromText('POLYGON ((30 10, 40 40, 10 40, 10 20, 30 10))', 0)
will be parsed to this:
SELECT geometry@p1@p2STGeomFromText('POLYGON ((30 10, 40 40, 10 40, 10 20, 30 10))', 0)

[2014-05-18 09:54] #35 closed, assigned to dimdin

[2014-05-30 16:00] #27 closed, assigned to dimdin

[2014-06-02 22:44] denisenkom opened #38 "Allow server=. and server=(local) in connection string as supported by OLEDB"
Currently fails with error: Unable to get instances from Sql Server Browser on host .: dial udp: GetAddrInfoW: No such host is known.

[2014-06-03 16:21] dimdin opened #39 "Return a collection with all sql server errors"
The Error type contains only the last error returned by SQL Server. The type must be extended to include a collection with all the errors returned by the SQL Server.

[2014-06-03 16:26] dimdin opened #40 "Bulk Load"
When an INSERT BULK statement is prepared use the bulk load message to transfer data efficiently.
Bulk load messages documentation: http://msdn.microsoft.com/en-us/library/dd358082.aspx
A similar feature is implemented by postgresql driver: http://godoc.org/github.com/lib/pq#hdr-Bulk_imports

[2014-06-04 04:53] adampresley opened #41 "Column data not returning"
I have an application that works with SQlite and MySQL, and I am now trying to plugin MSSQL as a backend. The SQL Server instance I am testing against is 2008 R2 Service Pack 2 (10.50.4000) on Windows 7 Enterprise. The code below illustrates the issue, and when executed I get the number of records I expect, but the only variable getting a value _mailItemId_. The remaining variables are empty.

[co

[2014-06-04 21:13] #41 closed, assigned to nobody

[2014-06-05 07:54] starchou opened #42 "Login Error：EOF or An existing connection was forcibly closed by the remote host"
I use Mac OSX Develop my project,it work very good !
today I copy my project to my colleague , He is Can't run it
he use Windows 8  coding
the error is WSARecv tcp 172.16.xx.xx:4559:An existing connection was forcibly closed by the remote host,
sometimes the error is Login error : EOF
so I write a demo to test (https://gist.github.com/starchou/8f81ed7d08771416ed5d) in my computer it can work.but i

[2014-06-06 14:56] #42 closed, assigned to nobody

[2014-06-09 13:48] mattatcha opened #43 "The prelogin packet used to open the connection is structurally invalid;"
I get the following error when trying to login. Any idea what it could have to do with?

[code]

Also here is the connection string.

[code]

I am using SQL Server Express. I think the version is 2012. (Version - 10.50.4000.0)

[2014-06-10 02:41] #43 closed, assigned to nobody

[2014-06-11 12:58] mattatcha opened #44 "Connection reset if server sits idle."
If my application doesn't periodically send queries to the DB my connection gets dropped.

Here is the error from Go.

[code]

[2014-06-19 15:40] #38 closed, assigned to nobody

[2014-06-25 02:11] wulove opened #47 "the type datetime query is not right"
package main

import (
        "database/sql"
    "fmt"
    _ "github.com/denisenkom/go-mssqldb"
    "log"
    "time"
)

func main() {
    conn, err := sql.Open("mssql", "server=localhost;port=1433;user id=sa;password=123456;database=gzxt;encrypt=disable")
    defer conn.Close()
//the createtime type is datetime2, modifytime is datetime
    stmt, err := conn.Prepare("INSERT INTO sys_notice (title,

[2014-06-30 18:04] duc-nguyen-locm opened #48 "Login failed"
I am getting failure when trying to login.  I have 2008 R2 SP2.
Using Go 1.3.
Thanks!

[2014-07-08 16:11] bbigras opened #51 "TLS Handshake failed: tls: failed to parse certificate from server: x509: negative serial number"
I have the `TLS Handshake failed: tls: failed to parse certificate from server: x509: negative serial number` error even if I specify `encrypt=false;TrustServerCertificate=true`.

go version go1.3 linux/386
SQLServer 2005

[2014-07-09 13:55] #51 closed, assigned to nobody

[2014-07-28 18:57] scohen28 opened #53 "Help with Error"
I'm trying to run a simple test, using the example code as a base - I have this:
...
conn, err := sql.Open("mssql", connString)
    if err != nil {
        log.Fatal("Open connection failed:", err.Error())
    }
    defer conn.Close()

[code]

I get the following error:
Scan failed:mssql: Invalid object name 'Organization'.

My connection looks as follows:
-debug=true -server=207.xxx.xxx.xxx -user

[2014-07-29 21:28] mnadel opened #54 "Authentication via Integrated Security"
Curious -- what do you reckon's involved in this?

[2014-07-30 06:11] joinqi opened #55 "can not connect to Microsoft Azure SQL database"
HI,

I'm facing an Azure SQL Database connection issue with this library.
Is this library support Azure SQL Database?

Issue Message

[code]

Thanks

[2014-07-30 12:38] scohen28 opened #56 "Help needed with uniqueidentifier"
I'm retrieving the ID from a sql server database as follows:

import ("github.com/nu7hatch/gouuid")
var theID []byte
err := db.QueryRow("select id from table where item='xxx').Scan(&theID)
fmt.Println(theID)
idStr, _ := uuid.Parse(theID)
fmt.Println(idStr)

Prints:
  [249 214 3 106 70 136 42 75 185 33 204 184 168 141 203 14]
  f9d6036a-4688-2a4b-b921-ccb8a88dcb0e

When I directly query the table u

[2014-07-31 13:09] lyrixx opened #57 "Got get does not work"
Hello.

I would like to test your lib, but it does not work for me

[code]

[2014-07-31 16:15] #57 closed, assigned to nobody

[2014-07-31 17:10] scohen28 opened #58 "Insert statement / newid() and Prepare - how to?"
For MSSQL, I'd insert something like:

insert into xyz (user_id, name) values (newid(), "john doe")

If I want to do a prepare statement, what is the proper way?

stmt, err := db.Prepare("insert into xyz(user_id, name) values(newid()?  ,?)
so i can then do
stmt.Exec(??, "john doe")

That is, what do I pass in order for the server to just generate a newid?

Thanks!

[2014-07-31 17:51] #56 closed, assigned to nobody

[2014-07-31 17:52] #53 closed, assigned to nobody

[2014-07-31 19:54] #58 closed, assigned to nobody

[2014-08-04 02:53] starchou opened #59 "Does it support Stored Procedure ?"
can i ask a question~
Does it support Stored Procedure ?
if support,how can i use it, do you have a demo ?

[2014-08-04 09:21] #59 closed, assigned to nobody

[2014-08-04 09:24] #47 closed, assigned to nobody

[2014-08-27 00:01] thecaddy opened #61 "Support for Geometry Type"
Would love to use this library to help with our migration efforts but i noticed there was no Geometry type.  Will it be supported?

[2014-09-18 21:12] captncraig opened #62 "Panic"
I am getting a really odd panic:

fatal error: unexpected signal during runtime execution
[signal 0xc0000005 code=0x0 addr=0xb69709e590 pc=0x425875]

goroutine 25 [running]:
runtime.throw(0xa18620)
    c:/go/src/pkg/runtime/panic.c:520 +0x7e fp=0x3cf6f0 sp=0x3cf6d8
runtime.sigpanic()
    c:/go/src/pkg/runtime/os_windows.c:352 +0x4b fp=0x3cf708 sp=0x3cf6f0
runtime.mallocgc(0x50, 0x6892c1, 0x1)

[2014-09-23 16:00] #62 closed, assigned to nobody

[2014-09-28 12:10] #55 closed, assigned to nobody

[2014-09-28 12:11] #54 closed, assigned to nobody

[2014-09-28 12:11] #48 closed, assigned to nobody

[2014-09-28 13:20] #44 closed, assigned to nobody

[2014-11-13 13:55] zhurizeng opened #65 "run error"
[code]

---

run this line :
## err = db.Ping()
## error:

panic: EOF
goroutine 1 [running]:
github.com/denisenkom/go-mssqldb.(_tdsBuffer).BeginRead(0x120a8b60, 0x4000000)
        d:/mygo/src/github.com/denisenkom/go-mssqldb/buf.go:112 +0xb0
github.com/denisenkom/go-mssqldb.readPrelogin(0x120a8b60, 0x0, 0x0, 0x0)
        d:/mygo/src/github.com/denisenkom/go-mssqldb/tds.go:175 +0x58
github.com/deni

[2015-01-20 00:44] jimwei opened #66 "query on sql server14 hang up"
hi,
i use this package to communicate to my database version is sql server 14, and connect successfully, but query hang up.

i am not know how to fix it?

thank you very much.

[2015-01-21 02:29] jimwei commented on #66
the above problem is my sql browser is not starting. and now has another problem,the info is "Cannot connect:  Login error: mssql: Login failed for user 'sa'.".
How to fix it?

thank you very much.

[2015-01-21 08:05] #66 closed

[2015-01-21 22:34] robarchibald opened #67 "Performance issue connecting to MSSQL"
Thanks for the nice library.  It's great to have access to SQL Server on Go!

I wrote a very simple client which connects to my local SQL Server 2012 instance and does a very simple select statement.  I then wrote a similar ASP.Net Web API service and compared the performance of each using JMeter just doing a whole bunch of simultaneous get requests.  Both saturate the CPU, but they look very diff

[2015-01-21 23:51] robarc opened #68 "encrypt tag issue"
If I add encrypt=false or encrypt=true to my connection string, I receive the below error.  I'm assuming this is because I don't have a certificate setup so I figure that's OK.  But I also get an error when I set encrypt=disabled:

encrypt=true or false error
----------------------------------------
prepared2015/01/21 15:46:01 http: panic serving 127.0.0.1:22083: TLS Handshake failed: x509: certif

[2015-01-22 07:41] dimdin commented on #68
The parameter syntax is encrypt=disable and not "disabled".

[2015-01-22 07:45] dimdin commented on #68
You can use encrpt=true;TrustServerCertificate=true for testing.

[2015-01-23 14:34] haochun opened #69 "an operation on a socket could not be performed because the system lacked sufficient buffer space or because queue was full"
when i use this sql server driver to operate db,i occured a problem.i opend only on connction,because the golang doc said:

he returned DB is safe for concurrent use by multiple goroutines and maintains its own pool of idle connections. Thus, the Open function should be called just once. It is rarely necessary to close a DB.

.but,when my program run some hours,it throw an exception,like this:

![

[2015-01-24 07:05] robarc commented on #68
Thanks for the note on encrypt=disable.  Yes, I had typed it wrong.  Thanks.

[2015-01-24 07:05] #68 closed

[2015-01-24 23:02] denisenkom commented on #69
Thanks @haochun for your report, would you be able to test a fix on the branch bugfix-69?

[2015-01-25 05:05] haochun commented on #69
@denisenkom i have solve this problem.i just add  conn.SetMaxIdleConns(200) .but i do not know why.when i set

conn.SetMaxOpenConns(200)
conn.SetMaxIdleConns(200)

the problem does not happed,if i only set :conn.SetMaxOpenConns(200)  it also be happed.

[2015-01-25 19:32] denisenkom commented on #69
I see, I think closing connection should fix this problem.
Fix is merged into master branch, try again with latest code.

[2015-01-26 01:20] haochun commented on #69
@denisenkom ok,thanks!i will try it . it means that i only need to set :conn.SetMaxOpenConns(200)?

[2015-01-26 08:53] xinhuang327 commented on #61
When using "SELECT * FROM" to query a table with spatial type column, the driver will give "Invalid TDS stream: Invalid type 0", I would like to figure out a way to ignore spatial type column and be able to use "SELECT *".

[2015-01-27 02:03] denisenkom commented on #69
bq. it means that i only need to set :conn.SetMaxOpenConns(200)?
no, you don't have to set it, it should work without changes from your side

[2015-01-27 02:12] haochun commented on #69
@denisenkom That means I can not set any of
conn.SetMaxOpenConns(200)
conn.SetMaxIdleConns(200)
, i only need get a connection,it will adjust connection pool by go driver?

[2015-01-27 02:17] denisenkom commented on #69
@haochun I am not sure what you mean.
I think the problem was caused by not closed UDP connections.  This should be fixed now with my latest update which closes connections.  This should mean that you don't have to change "MaxOpenConns" etc.

[2015-01-27 02:18] haochun commented on #69
@denisenkom ok ,i know.thanks.

[2015-01-27 02:18] #69 closed

[2015-01-27 03:47] haochun opened #71 "can not open connection when use udp to get the instances in internet"
when i connection to localhost,it work.but,when i connect to the sql server on internet.it dose not work.it is wait on getIntances().i think the cause is that use UDP to get instances.
how can i solve it??

[2015-01-27 06:22] dimdin commented on #71
UDP packets are used to translate sql server instance name to port number.
UDP packets are not reliable and can be dropped by your network infrastructure.
If you don't specify an instance name and you specify a port number it will work reliable.
see: https://technet.microsoft.com/en-us/library/ms177440(v=sql.105).aspx

[2015-01-27 09:39] haochun commented on #71
yes,if i does not set the instance name,it will work normal.but,if the sql server has more than one instance,how can i do?

[2015-01-27 10:35] dimdin commented on #71
Each instance uses a different port number. see: https://technet.microsoft.com/en-us/library/ms177440(v=sql.105).aspx

[2015-01-27 11:05] gzw13999 opened #72 "panic"
panic: Login error: WSARecv tcp 192.168.1.105:38186: An existing connection was forcibly closed by the remote host.

[2015-01-27 14:49] gzw13999 commented on #72
Microsoft SQL Server 2008 R2 (RTM) - 10.50.1600.1 (X64)   Apr  2 2010 15:48:46   Copyright (c) Microsoft Corporation  Enterprise Edition (64-bit) on Windows NT 6.2 <X64> (Build 9200: ) (Hypervisor)

[2015-01-27 15:10] dimdin commented on #72
You can solve the issue by installing SQL Server 2008 R2 Service Pack 2.
You can bypass the issue by specifying encrypt=disable in your connection string.
For more information see https://github.com/denisenkom/go-mssqldb#known-issues

[2015-01-27 15:54] gzw13999 opened #73 "Login error"
panic: Login error: Invalid TDS stream: unknown env type: 13

goroutine 16 [running]:
runtime.panic(0x71d3c0, 0xc0820014a0)
        c:/go/src/pkg/runtime/panic.c:279 +0x11f
sqlservertest/models.init路1()

[2015-01-28 02:32] haochun commented on #71
thanks very much!

[2015-01-28 02:32] #71 closed

[2015-01-28 03:42] denisenkom commented on #61
I think it might be possible to retrieve those values as raw bytes, as a first simple solution, I will take a look into this.

[2015-01-28 08:58] mattn opened #74 "How about detatch your repository from my fork?"
Hi.

I have a thing worried about in long time. go-mssqldb is awesome. However go-mssqldb is fork repository of my go-ole. So, I'm thinking you probably have better to detatch from my repo. Since go-mssqldb is a fork repository, inconspicuous, I guess.
I'm asking github support about this. And they seems to want your agreement. How do you think?

Thanks in your advance.

[2015-01-28 09:15] mattn commented on #74
If you want to detach, please contact to github support: https://github.com/contact

They know my proposal. :)

[2015-01-28 09:50] xinhuang327 commented on #61
I found a Node implementation of mssql driver, I referred its code and added support for read UDT, and it's quite possible to add spatial type support.
My change: https://github.com/xinhuang327/go-mssqldb/commit/f345da2b22f5b82fb6a50e8363bcac145e9fb0d9
node-mssql: https://github.com/patriksimek/node-mssql/blob/master/src/udt.coffee

[2015-01-29 02:59] arjunnath opened #75 "Need clear examples for "UPDATE" sql statement"
The examples are not very clear regarding how to do an SQL "UPDATE".
Specifically, can it be done by a Prepare() followed by an Exec() or does sql get executed in the Prepare() statement itself ?
Also, can one use Query() to do an UPDATE ?

Thanks
-A

[2015-02-01 23:53] denisenkom commented on #74
Right, this makes sense, will contact github.

[2015-02-02 01:13] haochun opened #76 "What means connection parameter "keepAlive"?"
does it means keepAlive the sql connection?but,the sql connection is TCP connection,Isn't it keepAlive?i want to communication with you,but i does not know how to contact you,so i put a new issue.

[2015-02-02 20:43] tristanwietsma commented on #76
i believe the default for mssql is that after 30 seconds of idle, the connection is dropped. i've been running into this myself with a little REST interface; I've found that if i GET a json after that idle period, it'll hang. However, if i refresh the page, the query proceeds.

@denisenkom is that behavior by design? i ask because i'm planning to just have a ping before every query.

[2015-02-02 20:48] tristanwietsma commented on #76
nevermind; found go-mssqldb#44

[2015-02-03 01:01] gaspardle commented on #40
Hi,
i've got a semi-working code for bulk loading. But one problem I see is that there is no explicit API in the Go SQL interface to support bulk loading.

Any ideas on the best way to implement it?

[2015-02-03 01:05] haochun commented on #76
@tristanwietsma it means that if i does not use the connection some time,it will be closed?

[2015-02-03 15:12] tristanwietsma commented on #76
@haochun http://blogs.msdn.com/b/sql_protocols/archive/2006/03/09/546852.aspx

[2015-02-04 02:45] #76 closed

[2015-02-04 10:53] GuyBrand opened #77 "SSPI client"
Hi .

Sorry for using the issues area , but you don't state your email , hope that's cool with you .

I see you have implanted SSPI and NTLM clients on the project .
I'm looking for something familiar for an http request .
So If you have some guideline , sample project or willing to do a small project for me , I'd be thankful .

Guy .

[2015-02-10 03:42] Wuvist opened #78 "Output parameter support"
Hi guys, thanks for this awesome lib. It really helps me a lot for migrating a system from MS stack to go.

I need OUTPUT parameter support for my project. So, I digg into things like https://msdn.microsoft.com/en-us/library/dd303881.aspx and http://bitbucket.org/kardianos/rdb and get a output parameter PoC working with go-mssqldb

My implementation is like:

row, err := conn.Query("exec [SpWithOu

[2015-02-11 04:34] denisenkom commented on #78
I don't have a strong opinion on this.  @dimdin what do you think?  I would say go ahead, create pull request, will see how this thing looks like.

[2015-02-11 04:43] denisenkom commented on #77
Hi Guy,

Fine with me.

BTW, take a look at this project: https://godoc.org/github.com/ThomsonReutersEikon/go-ntlm/ntlm

[2015-02-11 04:46] denisenkom commented on #40
I don't have any particular ideas.  It has to be some kind of custom interface.  Look around for other sql drivers on the ways they support this functionality (if there are such). Propose some kind of interface for us to discuss.

[2015-02-11 06:14] GuyBrand commented on #77
Yes, I've seen thus already, it looks like a full ntlm implantation, but no
http request binding.

Anyhow, I've managed to change the clients proxy, so for now I get by, but
I believe it will pop up some day.
On Feb 11, 2015 6:43 AM, "denisenkom" <notifications@github.com> wrote:

[2015-02-15 02:46] gaspardle commented on #40
You can check my current code here
https://github.com/gaspardle/go-mssqldb/tree/bulkload

examples/bulk.go contains a working example

There are some datatypes currently not supported like money, decimal and datetimeoffset.

[2015-02-24 01:42] denisenkom commented on #40
Can you create a pull request?  It would be easier to look at it that way.

[2015-02-24 01:51] denisenkom commented on #67
Are you using the same authentication method and encryption settings in go and .Net?

[2015-02-24 01:57] denisenkom commented on #75
You can find one example here: http://golang.org/pkg/database/sql/#Tx.Stmt

[2015-02-24 02:47] denisenkom commented on #74
Detached

[2015-02-24 02:47] #74 closed

[2015-02-24 02:49] denisenkom commented on #73
@gzw13999 can you test this change: https://github.com/denisenkom/go-mssqldb/commit/7e2729fe645bb216b0a23f80af5b6fd5b5bc35bf
?

[2015-02-24 02:51] #77 closed

[2015-02-24 02:52] #72 closed

[2015-02-24 03:00] mattn commented on #74
Congrats! :)

[2015-03-03 13:54] jamesRaybould opened #81 "Azure SQL connection is dropped after idle for ~2 minutes"
When using an Azure MSSQL database if the connection is left idle for approximately 2 minutes will throw the error `WSARecv tcp 10.65.36.87:58150: i/o timeout`

I have a basic workaround that involves setting `SetMaxIdleConns(0)`, this solves the timeout issue but introduces a large level of latency into each database call as it appears to create a brand new connection every time.

[2015-03-04 14:49] jamesRaybould commented on #81
I've been doing some more reading around Azure SQL and found the following document: https://msdn.microsoft.com/en-us/library/dn632678.aspx

Are there any plans to implement idle connection resiliency, if not where would be a good place look at how to implement it, and where in the code base would it live?

[2015-03-04 16:29] dimdin commented on #81
The driver cooperates with database/sql to reconnect by returning ErrBadConn when the connection is in a bad state. see #45
This cannot help if the connection is lost when iterating a cursor or when you have started a transaction, because the connection state cannot be restored. Unfortunately the same limitations are stated in the connection resiliency document.

From http://golang.org/pkg/databas

[2015-03-04 21:12] jamesRaybould commented on #81
Thanks for that, I've dug a bit more it seems that `CheckBadConn(err)` isn't been called on this error. The error happens at `sess.buf.BeginRead()` in `processResponse` this then bubbles up and is returned on `tokchan` that is then returned as an error for the user to deal with. That means it never comes close to the `CheckBadConn(err)` - I'm going to have a play with adding `CheckBadConn(err)` bu

[2015-03-05 16:13] ianmburns opened #83 "Unable to query on time, datetime2, or datetimeoffset with precision of 0"
I receive the error message "Invalid scale for TIME/DATETIME2/DATETIMEOFFSET type" when attempting a query that contains a column of type datetime2(0).

I believe this is due to the readVarLen function in types.go not supporting a scale of 0 for these types.

See the precision, scale description in the [datetime2 documentation](https://msdn.microsoft.com/en-us/library/bb677335.aspx )

[2015-03-05 17:02] dokomo-sauce-matrix opened #84 "i"

[2015-03-05 19:43] #84 closed

[2015-03-06 06:02] lukewilliamboswell commented on #40
+1

[2015-03-06 21:45] mjibson opened #86 "Supporting high availability groups"
I'd like to discuss how to add HA support. There are various issues.

1. We have a HA cluster here. The hostname we connect to is a DNS address that returns multiple IP addresses. tds.go uses net.Dial, which tries the first and gives up (see golang/go#9801). Solution: modify the connect function to try IP addresses until one works.
2. We need to connect to the primary of the cluster. Possible solu

[2015-03-07 01:10] denisenkom commented on #86
Take a look at this algorithm: https://msdn.microsoft.com/en-us/library/ms175484.aspx
This is what Microsoft's Sql native provider is doing, I think go driver should behave similarly.

[2015-03-07 17:42] #83 closed

[2015-03-07 17:43] denisenkom commented on #83
fixed

[2015-03-07 17:44] ianmburns commented on #83
Thanks! :+1:

[2015-03-08 17:11] bmorton opened #87 "keepAlive value is ignored"
After some debugging, I noticed that when I was setting `keepAlive` as per the documentation, it didn't seem to be operating as I'd expect.

Given the connection string `server=server.database.windows.net;user id=user@server;password=pwned;port=1433;database=database;keepAlive=60`, this is the map that the connection string is converted to (note the change in case for `keepalive`):

[code]

This c

[2015-03-08 17:45] #87 closed

[2015-03-19 19:53] alepore opened #91 "Sql Server 2000 support"
Hello,
I just want to ask if this project can't support Sql Server 2000 for some technical reasons or simply no one has tested it yet.

Thanks!

[2015-03-19 20:03] dimdin commented on #91
Short answer: there are technical reasons

There are differences in the TDS wire format between SQL server 2000 and 2005. The differences are documented here: https://msdn.microsoft.com/en-us/library/dd339982.aspx

go-mssqldb assumes the server is at least SQL Server 2005. With some changes it will be possible to talk to SQL Server 2000. The main difference is that the DONE token have a LONG row c

[2015-03-19 20:28] alepore commented on #91
Thanks for the detailed answer!

[2015-03-19 20:28] #91 closed

[2015-03-24 16:29] linquize opened #93 "Syntax error when creating index with `UNIQUE(s)`"
I have a column with attribute `xorm:"UNIQUE(s) NOT NULL`
e.g.
[code]
But it gives me wrong syntax
`CREATE UNIQUE INDEX [UQE_mytable_A] ON [mytable] ([A[,]C])`

Expected:
`CREATE UNIQUE INDEX [UQE_mytable_A] ON [mytable] ([A])`
then
`CREATE UNIQUE INDEX [UQE_mytable_C] ON [mytable] ([C])`

I am using SQL Server 2012.

[2015-03-24 16:52] dimdin commented on #93
This looks like a xorm problem

[2015-03-25 00:39] linquize commented on #93
But no problem when using mysql, postgresql or sqlite3

[2015-03-26 15:48] linquize commented on #93
Fixed by https://github.com/go-xorm/xorm/pull/223

[2015-03-26 15:48] #93 closed

[2015-03-28 23:39] FilipDeVos opened #96 "Support for LocalDB"
This driver is unable to connect to SQL Server LocalDB instance. When you attempt to connect to localdb the following error is returned:

    Cannot connect:  Unable to get instances from Sql Server Browser on host (localdb): dial udp: GetAddrInfoW: No such host is known.

This is probably because a connection is attempted over tcp to the name (localdb), and LocalDB only supports named pipes. In t

[2015-03-29 13:11] denisenkom commented on #96
Named pipes and shared memory connections are not supported.  Only tcp connections are supported, you can enable tcp endpoint for your server to get it to work.

[2015-03-30 08:07] FilipDeVos commented on #96
Thanks for the feedback. LocalDB only supports named pipes. Is supporting named pipes something that you would be interested in? (As far as I can see only jTDS has [an implementation](http://sourceforge.net/p/jtds/code/HEAD/tree/branches/jTDS%202.0%20%28experimental%29/src/java/net/sourceforge/jtds/jdbc/NamedPipeSocket.java) it uses jcifs for the grunt work in [SmbNamedPipe](https://jcifs.samba.or

[2015-03-30 23:52] denisenkom commented on #96
There is a https://github.com/natefinch/npipe project which seems promising.
If you want you can implement it and send a pull request.

[2015-03-31 00:00] denisenkom commented on #96
If you decide to implement it please make it a soft dependency on npipe, it should only be required if named pipes connection is requested by user.

[2015-03-31 09:12] FilipDeVos commented on #96
I will give it a try. Still new at go so it might take some time to get somewhere.

[2015-04-06 18:28] geosoft1 opened #97 "SELECT * FROM table syntax"
The query SELECT \* FROM table don't work for me. In fact return nothing but SELECT field FROM table work. I try on SQL Server 2005 and 2008 R2.

[2015-04-07 01:51] denisenkom commented on #97
SELECT * FROM table should work.
You probably have some column or value which fails.  Can you isolate which column/value it is?

[2015-04-07 07:49] geosoft1 commented on #97
I am not really sure but i guess one of the problem come from SMALLDATETIME type. The documentation says this type is a two bytes int (uint16 in golang?) but if i query a particular smalldatetime field the result is 0 or nothing. I try with int types and even string type.

e.g.: a is a smalldatetime in SQL server

db.Query("select a from table")

var a int,int16,uint... result 0
var a string show

[2015-04-09 00:29] mjibson commented on #86
My sysadmins tell me that Database Mirroring is different than HA, which is built on windows failover cluster. We are using this mode: https://msdn.microsoft.com/en-us/library/hh213417.aspx

[2015-04-10 00:16] #86 closed

[2015-04-24 06:54] arcynum opened #99 "DATETIME interface: unsupported driver"
I am attempting to build a physical table downloading service.

I am having problems when trying to process SQL Server DATETIME fields in this way.

I am experincing the following error when running the following code:
`sql: Scan error on column index 8: unsupported driver -> Scan pair: time.Time -> *[]uint8`

I have looked around and it seems this is an issue other drivers have encountered, but I

[2015-04-26 14:37] denisenkom commented on #97
We have a test for smalldatetime: https://github.com/denisenkom/go-mssqldb/blob/master/queries_test.go#L60

and for uniqueidentifier: https://github.com/denisenkom/go-mssqldb/blob/master/queries_test.go#L62

and they are passing.

Can you provide minimal reproducible program, including minimal mssql schema?

—
Sent from Mailbox

On Tue, Apr 7, 2015 at 3:49 AM, geosoft1 <notifications@github.com> w

[2015-04-27 06:44] geosoft1 commented on #97
Windows Server 2008 R2

BULK INSERT articole

FROM 'c:\articole.csv'

WITH

(

FIELDTERMINATOR =','

ROWTERMINATOR = '\n'

)

in the picture atached select various fields works but select * return
nothing.

thank you for help.

On Sun, Apr 26, 2015 at 5:37 PM, denisenkom <notifications@github.com>
wrote:

--
Cu stima | Best regards,
George

geosoft1.github.io
ubuntu <http://ubuntu.com> | mikrotik

[2015-05-01 02:14] denisenkom commented on #97
Please upload c:\articole.csv too

[2015-05-01 06:16] geosoft1 commented on #97
i put it in the preview mail but i send you again.see attach.

On Fri, May 1, 2015 at 5:14 AM, denisenkom <notifications@github.com> wrote:

--
Cu stima | Best regards,
George

geosoft1.github.io
ubuntu <http://ubuntu.com> | mikrotik <http://mikrotik.com> | golang
<http://golang.org>

[2015-05-02 00:45] denisenkom commented on #97
I still didn't get it, I think github strips attachments.  Try creating a gist: https://gist.github.com/ and posting link here.

[2015-05-05 09:11] geosoft1 commented on #97
http://w3.geosoftnet.ro:8081/files/articole.zip

[2015-05-11 22:06] phillipCouto opened #100 "SELECT returns no rows"
Hi Guys,

So I have encountered an interesting issue.

I executed a SELECT \* FROM Table query in mac and linux and I get all the records from the table.

When I execute the same query on windows rows.Next() returns false but there are no errors.

After some testing I found out it was because I had the server name as an FDQN. When in a windows machine that is joined to a domain go-mssql needs the

[2015-05-13 05:02] robarchibald commented on #67
Yes, I was using the same mechanism for both.  Since opening this issue, I've now left the company where I was using this, so I don't have any further insight on this.  I'm going to go ahead and close.

[2015-05-13 05:02] #67 closed

[2015-05-14 16:29] HeyImAlex commented on #100
I had a similar issue on a long running script last night. A bunch of workers consuming from a channel. At some point a bunch of my workers log `WSARecv tcp <host>:<port>: i/o timeout`. Ok network problem, maybe the connection died, whatever.

However, from that point forward all of those workers show a "no records found" error, which would only be displayed when the select _succeeded_ but `rows.N

[2015-05-17 04:28] brenol opened #101 "issue with long string-numbers in queries"
Hi,

I'm having issues with querying while passing a 10 numbers varchar to the select.

I have set the log level @63 and it just keeps printing:
[code]

The code that is making me able to reproduce this is the following:
[code]

I believe it simply keeps timing out, as every 30 seconds if shows the select again. (Changing the connection timeout to another value also made me notice this)

[2015-05-17 19:21] denisenkom commented on #81
This change actually broke some tests: TestShortTimeout and TestDefaultTimeout.
Would need to come up with some other solution.

[2015-05-17 19:33] denisenkom commented on #101
Hi.
I've improved logging, can you run latest version and upload log output again?

[2015-05-17 19:53] denisenkom commented on #100
Try latest version, it has some improvements in logging errors.
Run it with logging enabled and post logs here.

[2015-05-17 19:56] denisenkom commented on #99
I think you should scan DATETIME into time.Time and then convert it into some binary format of your choosing.

[2015-05-17 19:56] #99 closed

[2015-05-18 14:09] brenol commented on #101
Hello!

Thanks for the quick answer.

I tried again with the new logging features but did not see a difference:

[code]
(I have connection timeout set to 5 seconds, also, I used db.Exec())

Also, note that I found a 'quick fix' to this problem using the CAST syntax:
[code]

And it's now returning rows as expected, however, I find it very strange that the common syntax just _hangs_ while querying.

[2015-05-19 00:08] denisenkom commented on #101
I think the problem in your case was that your query wasn't optimal, and that was causing timeouts.
By default go-mssql will use nvarchar type for strings.  and you phone column is probably of type varchar.  That mismatch causes sql server to not to use index and instead do full table scan.
You can reproduce that by running query following query in query analyzer:

select * from users where phone

[2015-05-19 00:08] #101 closed

[2015-05-19 00:17] denisenkom commented on #101
so the solution is to use cast as you did, or to change type of column to nvarchar

[2015-05-19 00:27] brenol commented on #101
I see - however, I forgot to mention the fact that it only _hangs_ when I pass the _number_ as args to ...interface{} that Query() accepts.

If I do it like this:
[code]
instead of
[code]
... the first case does not hang. If the reason is because it's converting to nvarchar then it makes sense.

Thanks!

[2015-05-19 00:41] denisenkom commented on #101
In first case you will have:

select * from users where number = 33219894564621

in second:

select * from users where number = N'33219894564621'

[2015-05-19 00:42] denisenkom commented on #101
That should work fast:
[code]

[2015-05-20 19:27] brenol commented on #101
Great, thank you for all your help!

[2015-05-26 07:23] sdhjl2000 opened #102 "get "invalid domain name" error when connection db on centos6.6"
OS:centos6.6
ARCH:amd64
this lib works well on my local windows and  ubuntu machine ,but after i  cross compile the source code and deploy to a centos(6.6/amd64) machine i got a  "invalid domain name" error,but if i change etc/hosts use alias name it works well,i search the lib‘s source and don't find any function return this error.any suggestion.

[2015-05-26 08:07] #102 closed

[2015-05-26 08:14] sdhjl2000 commented on #102
[code]
after dig into the source code find the error occur when lookup the ipaddress, if just use go run test this code it works well,but if cross compile it and deploy to the target get the invalid domain name error.

[2015-05-26 14:21] sdhjl2000 commented on #102
after install a new centos virtual machine with same arch,i  compile the source code and deploy to the target it works ok,there must be some problem with cross compile.

[2015-05-27 02:36] denisenkom commented on #102
Maybe cross compiler has a bug?

[2015-05-27 15:14] dimdin commented on #102
Go cross compiler compiles with the CGO disabled. That means that go net library does not call the C OS API for resolving the ip; go tries to resolve the ip by using the hosts file.
When you compile natively CGO is enabled and the proper OS resolver is called.

[2015-05-28 00:12] bradleyankrom commented on #48
I've been running into that "connection reset by peer" error as well (running SQL Server 2008 SP3 X64); any ideas? I tried disabling encryption, but I still received the error.

[2015-05-29 00:09] denisenkom commented on #48
Did you do this: you need to install SP2. See https://github.com/denisenkom/go-mssqldb#known-issues
?

[2015-05-31 01:24] sdhjl2000 commented on #102
@dimdin ,3ks,i will try

[2015-06-11 19:30] chadkouse opened #103 "Login error: EOF from windows machine + azure v12 only"
This is strange...

My code works fine from my development machine (mac) - even pointed at the production sql server - but when I compile it for windows amd64 and run it from that machine I get
`Login error: EOF`
After any query.  The SQL instance is a v12 azure database.  Other applications on this windows machine are able to query the database so I know it's not a firewall issue.

Also the code

[2015-06-12 01:44] lkfken opened #104 "Login without the domain"
The database I am trying to connect use "username & password" only.  The problem I am having right now is that go-mssqldb has no parameter to pass username as "user".

go-mssqldb is trying to connect as "DOMAIN\user", but the database is expecting "user" only (no domain).

[2015-06-16 06:15] haochun commented on #100
@phillipCouto @denisenkom i also encountered the same problem .but,it not return NoRows every time.sometimes return result.my code:

func getSQLConn(databaseUri string) (*sql.DB , error) {
	sqlLock.Lock()
	defer sqlLock.Unlock()

	if conn,ok := connections[databaseUri]; !ok {
		conn, err := sql.Open("mssql", fmt.Sprintf(connectUri, databaseUri))
		if err != nil {
			return nil, err
		}
		conn.SetM

[2015-06-23 02:26] colorcyan commented on #103
getting exactly same problem.
SQL Server is Azure v12, go program runs on my mac, runs on my windows, deployed to a windows VM on Azure, got this `Login error: EOF` immediately. That server has other (.net and node) services running fine with same database.

[2015-06-27 00:29] denisenkom commented on #103
Did you look at this: https://github.com/denisenkom/go-mssqldb#known-issues
?

[2015-06-27 00:32] denisenkom commented on #104
normal user id should work, you can specify regular username or domain\username

[2015-06-27 00:32] #104 closed

[2015-06-27 00:42] chadkouse commented on #103
yes I don’t think this is the issue though since azure v12 claims to be
closer to sql 2014

https://azure.microsoft.com/en-us/documentation/articles/sql-database-v12-whats-new/

On Fri, Jun 26, 2015, 8:29 PM denisenkom <notifications@github.com> wrote:

--

--chad

[2015-06-27 13:51] denisenkom commented on #103
Maybe your windows machine has version of go that is older than the version of go on your mac?
If they are the same please enable logging and upload logs here.

[2015-06-27 14:28] clns opened #105 "driver: bad connection and other errors on SQL Server 2012"
I get `sql: no rows in result set` even if the query is completely invalid.

So I decided to run the tests to see what the output is. I created an empty `test` database and I'm using windows authentication. The SQL Server `@@VERSION` prints:

[code]

The tests fail with errors like:

[code]

You can see the output of the `go test` command in this gist: [full output](https://gist.github.com/clns/98

[2015-06-29 14:19] clns commented on #105
Apparently these issues happen when using IPv6. On Windows, [`localhost` points to `::1`](http://superuser.com/questions/436574/ipv4-vs-ipv6-priority-in-windows-7/436944#436944), so if I change from `localhost` to `127.0.0.1` in the connection string it works fine.

Maybe this issue then is about supporting IPv6. I'd be happy to hear some input on this.

[2015-07-03 07:48] magmax commented on #27
Hello.

I have this same error: "Login error: EOF"

My scenario is a little different: I'm connecting to Azure SQL from my laptop, and it works (Windows 7), but when I try to connect from a VM in Azure (Windows 2012 R2), it fails. Same binary.

Could you help me with this?

[2015-07-03 18:58] denisenkom commented on #27
Do you use same version of Go on both machines?

[2015-07-03 21:13] magmax commented on #27
I thought that, so I compiled it and tested it from one of my mates' laptop (without Go installation), and it worked, but in Azure's VM (without Go installation too) it doesn't.

[2015-07-16 07:03] polarina opened #108 "Custom logger"
Is it possible to pass a custom logger from the "log" package for the library to use?

I am executing against multiple databases concurrently and I need to capture the logs from each one without mixing them together.

[2015-07-20 08:52] perseo-dev commented on #27
I have tha same problem of magmax. I compiled in Windows 8.1 Pro 64bit and I successfully connect to SQL Azure. When I copy the working binary on a new Azure Virtual Machine with Windows Server 2012 R2 the login fail with "Login error: EOF".

[2015-07-21 00:40] denisenkom commented on #27
Please enable logging on client and server and upload here

[2015-07-24 07:10] sdhjl2000 opened #112 "sql with set not work"
don't work

[code]

work:

[code]

[2015-07-24 07:24] sdhjl2000 commented on #112
digg into the code,if one param in the sql it works,may be some bugs with sendSqlBatch72

[2015-08-03 21:17] brunoqc opened #113 "some tests fail"
[code]
go version go1.5beta3 windows/amd64

[2015-08-03 21:22] dimdin commented on #113
there are 2 open functions in the mssql package. One in mssql.go and another one in tds_test.go

[2015-08-03 21:24] brunoqc commented on #113
Should I rename one?

[2015-08-03 21:24] dimdin commented on #113
yes, please

[2015-08-03 21:25] brunoqc commented on #113
OK I don't have the problem anymore. I have another one but I'll open a new issue.

Thanks.

[2015-08-03 21:25] #113 closed

[2015-08-03 21:28] brunoqc opened #114 "tests fail with Go 1.5beta3"
[code]

go version go1.5beta3 windows/amd64
sql server 2005

[2015-08-03 21:36] brunoqc commented on #114
I don't have the same problems with `go version go1.4.2 linux/386` and I could also test with 1.4.2 on Windows but I think the problem started happening with 1.5.

[2015-08-04 15:35] brunoqc commented on #114
I just tested and I don't have the problems with `go version go1.4.2 windows/amd64`.

[2015-08-04 21:08] bradleyankrom commented on #100
@haochun Are you still seeing inconsistent results when running the count query? If so, can you copy and paste the errors you're receiving?

[2015-08-05 01:44] haochun commented on #100
@bradleyankrom sometimes it also return 0.but i does not log the error into file.I think it should be too frequent statistics

[2015-08-05 10:29] busterwood opened #115 "Connect to instance"
How would I specify the instance name to connect to?  We have a single server with multiple instances of SQL Server on it.

[2015-08-05 12:12] BrianActon commented on #115
Still experimenting myself but I think this is what you might be looking for.

dsn := "server=" + "SERVER//INSTANCE_NAME" + ";user id=" + "xxx" + ";password=" + "xnnn" + ";database=" + "db_name"
	db, err := sql.Open("mssql", dsn)

[2015-08-07 00:48] denisenkom commented on #115
see https://github.com/denisenkom/go-mssqldb#connection-parameters

[2015-08-07 00:48] #115 closed

[2015-08-07 10:26] juRiii opened #116 "Decimal results into an []uint8"
hi, i have a question about a mssql column with this type `decimal(18, 6)`

    rows.Scan(vals...)

this results in a value of type `[]uint8`

how should someone deal with this?

[2015-08-07 14:50] dimdin commented on #114
i just tried go version go1.5rc1 and the tests work fine

[2015-08-07 15:20] brunoqc commented on #114
I still have the problem with `go version go1.5rc1 windows/amd64`.

[2015-08-07 15:23] dimdin commented on #114
1) what is the result of query "select @@version"
2) can you try to connect with the option "encrypt=disable;"

[2015-08-07 16:00] brunoqc commented on #114
[code]

It works with the `encrypt=disable` option.

[2015-08-07 16:05] dimdin commented on #114
Can you patch the server?
version 9.00.3042 is 2005 SP2.
The latest 2005 service pack is 4 version 9.00.5000.00

[2015-08-07 16:25] dimdin commented on #116
You can cast it to a string and use it as a string.

I have a library for handling decimal numbers see https://github.com/dimdin/decimal
just declare something as decimal.Dec and you can scan it.
(the library trick is the Scanner/Value interfaces implementation)

[2015-08-07 17:14] brunoqc commented on #114
Our "system admin" said he will consider it but he's of the "we don't update anything in case it breaks" type. Or maybe just lazy.

I guess we can close this issue and let someone else reopen it if the problem happens with SP4.

[2015-08-09 19:37] #114 closed

[2015-08-13 11:53] #116 closed

[2015-08-14 18:21] blitzd commented on #105
It seems like using any sort of short or FQDN results in an IPv6 connection being used rather than IPv4.

[2015-08-14 18:28] blitzd opened #117 "Scan failed:Invalid TDS stream: Unexpected token COLMETADATA"
Received the above error when running a test query of:

SELECT TOP 10 ID, Name FROM dbo.Data d ORDER BY d.ID DESC;

ID is an autoincrement PK int, and Name is just VARCHAR(30).

I also tried casting VARCHAR(30) to a NVARCHAR, but received the same results.

[2015-08-14 18:44] blitzd commented on #117
This appears to be the result of a USE db; statement being used inside the query, when I saw that there was a db parameter in use in the tsql.go example that cleared it up.

[2015-08-14 18:44] #117 closed

[2015-08-14 18:47] blitzd commented on #100
This may be related to this issue:

https://github.com/denisenkom/go-mssqldb/issues/105

I get 'no results' from any query on any server when I use a short name or FQDN to connect. Using an IP address works.

[2015-08-19 12:04] FireArrow opened #119 "Connection left in bad state after a timeout"
I have an issue where my connection is left in a bad state after a timeout or a very slow answer.

Here's a paste of my log, with log level set to 63. To explain a little what you see;
One "query" is really two queries, first one to mymeta (called the meta query from now on), and given the response from that one to mydata.response (called the data query from now on). The expected result from mymet

[2015-08-19 12:26] dimdin commented on #119
Please, ensure that Close is called after each query (see the documentation http://golang.org/pkg/database/sql/#Rows.Close)

[2015-08-19 12:31] FireArrow commented on #119
It is. After every Query, there is a defer rows.Close()

[2015-08-19 12:36] dimdin commented on #119
With defer Close will be executed at the end of the function. If you have the queries in the same function Close is not called between queries. Call rows.Close() without defer after each query.  (There is a great resource for go sql interface http://go-database-sql.org/retrieving.html)

[2015-08-19 12:43] FireArrow commented on #119
I updated my comment to cover that case while you wrote your answer. Sorry!
Anyway, my code effectively follows the example given in http://golang.org/pkg/database/sql/#DB.Query
No queries while having an active query, no recursive calls, always defer a Close().
My issue only arise the query after a query times out.

[2015-08-19 15:25] dimdin commented on #119
The connection times out from the client side but the server keep sending data.
We need to cancel the query on timeout (see #29)

[2015-08-20 11:09] FireArrow commented on #119
I see. So there is nothing I can do about it on the client side (part from setting a high timeout value) until #29 is fixed?

[2015-08-20 11:51] dimdin commented on #119
Yes, setting a higher timeout (default timeout is 30 secs) is a good workaround until the bug is fixed.

[2015-08-23 13:36] srgrn commented on #27
how do i enable logging on the client? i seem to have the same error only in my case it works on my mac and on a windows machine but not on an azure linux vm.

[2015-08-26 11:59] dcampillo opened #120 "Issue with install commandline "go get github.com/denisenkom/go-mssqldb""
Hi,

This is probably not code related, but when trying to get go-mssqldb using the command "go get github.com/denisenkom/go-mssqldb" from the homepage, I receive a error message :

import cycle not allowed
package github.com/denisenkom/go-mssqldb
        imports bytes
        imports errors
        imports runtime
        imports unsafe
        imports runtime

Documentation related to this issue

[2015-08-26 12:13] anchepiece commented on #120
What is your GOPATH and GOROOT set to?

[2015-08-26 12:41] dcampillo commented on #120
Shame on me, I am still a newbie with Go setup and my path wasn't setup correctly !

Thanks for replying.

David

[2015-08-26 12:41] #120 closed

[2015-08-26 16:13] scohen28 opened #121 "sql server 2005 encryption fails"
This just seemed to have started in the pass few days.

I'm connecting to a remote SQL Server (2005) - I have no ability to update (not my db).

// DBConnection connection to the MS SQL database
type DBConnection struct {
    ConnectionStr string
    DB            *sqlx.DB
}

func (d *DBConnection) ConnectDatabase() {
    // connect to SQL Server
    var err error
    fmt.Println(d.ConnectionStr)

[2015-08-26 16:19] dimdin commented on #121
Please post the result of "select @@version"
 For a workaround try to connect with the option "encrypt=disable;"
(related issue #114)

[2015-08-26 16:30] scohen28 commented on #121
Not sure how to do a "select @@version" if I can't login :-)

I've deleted the existing cache/pkg of the package and did a new go get.

On my Mac - same error.
Then I run the program in docker as follows:
docker run -it -v $PWD:/go/src/test golang:latest /bin/bash

In the docker container I do a 'go get' followed by a go build - works fine (connects, etc.)

Back in the Mac, the error occurs.

Upda

[2015-08-27 00:16] denisenkom commented on #27
In connection parameters: https://github.com/denisenkom/go-mssqldb#connection-parameters
see log

[2015-09-01 06:24] novalagung opened #122 "Blank Connection"
I'm trying to use this driver on my project, but I get stuck on `sql.Open`. It shows nothing.

This is my code:

[code]

This is the output. It doesn't show anything.

<img width="423" alt="screen shot 2015-09-01 at 1 21 58 pm" src="https://cloud.githubusercontent.com/assets/982868/9597485/766ff61c-50ac-11e5-8b05-cc20c9e1db7f.png">

Please help me. Am I missing something? Thanks in advance!

[2015-09-01 07:31] novalagung commented on #122
This is the stupidest thing I ever done. My mistake. The server ip is wrong. It should be `192.168.0.200`.

[2015-09-01 07:31] #122 closed

[2015-09-01 18:31] anchepiece commented on #121
This may also apply when upgrading to go1.5.  It worked using go 1.4.1 but failed with:

Cannot connect: Login error: EOF

Appending "encrypt=disable;" to the connection string does allow the connection.

[2015-09-01 18:33] dimdin commented on #121
Please, send us your SQL Server version, as returned by "select @@version"

[2015-09-01 18:37] anchepiece commented on #121
Microsoft SQL Server 2005 - 9.00.5000.00 (Intel X86)
Dec 10 2010 10:56:29
Copyright (c) 1988-2005 Microsoft Corporation
Developer Edition on Windows NT 5.2 (Build 3790: Service Pack 2)

[2015-09-01 18:43] dimdin commented on #121
Thank you very much @anchepiece , you have the latest service pack (4) of SQL Server 2005. I will investigate the problem next week.

[2015-09-01 23:58] kiwih opened #123 "Login error: EOF on Windows Azure"
When running code from managed Azure, connecting to Azure SQL, this driver is unable to connect. It returns
Login error: EOF

When I try to use "encrypt:disable;" in the connection string, it returns
TLS Handshake failed: Cannot read handshake packet: EOF

(It appears that readPrelogin will always change preloginENCRYPTION to encryptReq, regardless of what you request)

However, when I run the cod

[2015-09-02 01:17] kiwih commented on #123
This is almost certainly related to #103

[2015-09-02 07:18] BrianActon commented on #123
This seems to be a problem related to permissions. Its more an Azure problem than a Go problem.

[2015-09-03 01:52] kiwih commented on #123
We resolved the issue by changing from a V12 Azure SQL database to a V2 version, like they mention in #103. You may want to add this problem to your known issues. I guess you can close this issue, although if there is anything I can do to help you resolve the problem just let me know.

[2015-09-08 07:37] pmcgrath opened #125 "2014 supported ?"
Does the driver support sql express 14 ?
I am using go v1.5 running on Windows 7 64 bit for this test

I have tested with a server 2012 instance successfully using the following from the examples directory

[code]

but when I try to test against a local 2014 express instance

[code]

it just sits there and does nothing not even exiting, so seems to ignore the timeouts also, any ideas ?

Thanks in

[2015-09-08 14:08] mikewilliamson commented on #125
Hi Pat,

I can confirm that I've successfully used this driver to connect to SQL Server Express 14.  I'm afraid I can't offer any insight into your problem, but it will definitely work if everything is configured properly.

Good luck,

-Mike

[2015-09-11 09:54] mikewilliamson opened #126 "QueryRow doesn't work as documented"
I'm using this fragment of code, which is taken almost verbatim from the example given in the QueryRow documentation:

    var Id int
    err = db.QueryRow("select max(EventId) from Event").Scan(&Id)
    switch {
    case err == sql.ErrNoRows:
        log.Printf("No EventId.")
    case err != nil:
        log.Fatal(err)
    default:
        fmt.Printf("Max EventId is %v\n", Id
    }

According to

[2015-09-11 15:31] dimdin commented on #126
@mikewilliamson what is the database type of Event.EventId ?

[2015-09-11 15:45] dimdin commented on #126
@mikewilliamson I can reproduce it with the code:

[code]

select max(EventId) from Event is going to return null when there are no records in Event.
You can not scan a null value to int, so this is not a bug.
To solve your problem try this query:
[code]

[2015-09-11 16:22] mikewilliamson commented on #126
Ah, got it, thanks.  I was mistakenly thinking that the query would return no rows rather than one row with a null.  My mistake.  Actually what I want is something like:

    select isnull(max(EventId), 0) from Event

[2015-09-11 16:22] #126 closed

[2015-09-16 10:58] mikewilliamson opened #127 "Support for ReadOnly connections to Availability Groups"
A really nice feature of AlwaysOn Availability Groups is that a client can indicate it needs read-only access and can then be connected to one of the replicas, thus spreading intensive query load over the cluster.  Using the Microsoft drivers, this is done by putting `ApplicationIntent=ReadOnly` in the connection string.

This seems not yet to be implemented by the Go driver.  Has anyone looked at

[2015-09-16 20:19] HeyImAlex commented on #119
Same (?) error showed up in some logs yesterday:

[code]

From that point on, those two `sql: expected...` errors repeat up until I restarted the application, at which point everything went back to normal. The end users found that if they clicked submit a few times it would eventually work, about every three clicks.

In my code I'm only calling scan twice for each request, once with three values a

[2015-09-17 19:07] ArtnerC commented on #125
I too have had this issue connecting to a local SQL Express instance. I have since moved to just connecting to our SQL Server instance (which has its own [issues](https://github.com/denisenkom/go-mssqldb/issues/105)). However, the [odbc package](https://github.com/alexbrainman/odbc) did work, though with weirder handling of some data types I can't specifically remember the nature of. Hope this can

[2015-09-19 05:01] mvbaffa opened #128 "Support for Go 1.5.1"
Does go-mssqldb support Go version 1.5.1

Thanks

[2015-09-19 09:17] dimdin commented on #128
1.5.1 is supported. Currently there is a connectivity problem with SQL Server 2005, encrypted connections and go 1.5.x.

The best way to ensure that the driver supports your environment is to run the tests in your environment.
[code]

[2015-09-21 19:36] #128 closed

[2015-09-21 19:38] mvbaffa opened #129 "How Can we create a Connection Pool"
Does go-mssql create a connection pool or must we create it mannually.

How can we do this?

Thanks

[2015-09-21 19:46] dimdin commented on #129
A pool of connections is managed by go database/sql package.
A very good tutorial for using database/sql package is http://go-database-sql.org/index.html

[2015-09-26 08:21] #127 closed

[2015-09-26 08:45] #75 closed

[2015-09-26 08:45] #73 closed

[2015-09-26 08:52] dimdin commented on #108
SetLogger driver method can be used to set a custom logger. There is no way to set a different logger for different driver connections.

[2015-09-26 15:04] polarina commented on #108
Hah! Forgot to close this issue along with #110. I can set a custom logger per connection by bypassing the `database/sql` abstraction, which is what I'm doing.

[2015-09-26 15:04] #108 closed

[2015-09-30 08:07] FireArrow commented on #121
Any progress on this issue?

[2015-10-20 09:47] zbliang commented on #105
password:sa
 port:1433
 server:192.168.0.128
 user:sa
 connString:server=192.168.0.128;user id=sa;password=sa;port=1433
2015/10/20 14:24:19 Prepare failed:Login error: WSARecv tcp 192.168.2.20:53117: An existing connection was forcibly closed by the remote host.

my ip is 192.168.2.20

[2015-10-28 23:35] johnjelinek opened #132 "Can't connect to db with server name suffix"
When I pass in a dns where the server name contains a suffix like `/abc,1433`, it fails.

Example:

[code]

This results in this error: `lookup database.example.com/db,1433: no such host` -- however, I can connect with Visual Studio / SSMS using this url.

As a sanity check, server's in this form `database.example.com` work correctly, hitting the same instance.

[2015-10-30 21:54] lwdallas commented on #132
Have you tried database.example.com\\db?

[2015-11-16 11:35] trivix commented on #114
Hello,
I have the same issue...
Microsoft SQL Server 2005 (64-bit) 9.4.5000.00

The workaround works perfect but it is just a workaround.

Greetings
trivix

[2015-11-20 13:02] phillipCouto opened #133 "Use SCOPE_IDENTITY() instead of @@IDENTITY for LastInsertID"
I have recently ran into an issue where I am trying to use the LastInsertID function but the ID I am getting does not exist and my foreign key constraint on my next statement fails.

I did some research and found out that the issue is because my table is replicated and when the first insert happens there is more inserts behind the scenes from triggers which sets the @@IDENTITY value to the last ID

[2015-11-20 13:02] phillipCouto commented on #133
I am more than happy to create the PR to change the code to use SCOPE_IDENTITY.

[2015-11-20 16:27] dimdin commented on #133
It is ok to use SCOPE_IDENTITY. @phillipCouto please go ahead and change the code

[2015-11-20 19:49] phillipCouto commented on #133
Sadly after extensive amounts of testing looks like the scope is lost by the time we call select SCOPE_IDENTITY in the LastInsertID() function.

The only effective way to acquire the correct last insert id that has associated triggers is to change:
[code]

to
[code]

and then scan the ID into a variable for later use.

I am closing the issue as it is not an issue with the driver and just an behavi

[2015-11-20 19:49] #133 closed

[2015-11-20 19:52] phillipCouto commented on #133
Opps didn't mean to delete my comment.

The issue is not with the driver but an odd behaviour with SQL Server.

To elaborate by the time a user calls LastInsertID() the scope needed by SCOPE_IDENTITY is no longer available and returns nil.

In order for a user to extract the correct ID when triggers are skewing the results of LastInsertID simply appending "SELECT SCOPE_IDENTITY()" to the end of th

[2015-12-02 23:03] dstpierre opened #134 "Azure SQL driver: bad connection"
Not certain if this is related in any way with #119 or #105 but here the situation.

I have a major issue where lots of the database call return this error `driver: bad connection`. Here's how I implemented my data access package.

I have a `db` variable that is initiated from the consumer package. So I have my web api which open the database / ping in the main function like this.

[code]

From wh

[2015-12-06 00:40] billgraziano opened #135 "Issue with named instances, integrated security and maybe IP6"
I've been starting to work a little with this driver on SQL Server 2014.  First off, thank you for this!  Writing a TDS parser doesn't look like it's for the faint of heart.

I'm running on a box that has named instances and SQL Server 2014 and IP6.  I've tried the following connection strings:

[code]

The first three work fine.

The fourth one generates a "driver: bad connection" error.  My best

[2015-12-14 11:36] haochun opened #137 "lookup server=localhost: getaddrinfow: No such host is known"
lookup server=localhost: getaddrinfow: No such host is known
but,i can connect it by java.

[2015-12-14 11:36] haochun commented on #137
my connect string is:server=localhost;user id=sa;password=123456

[2015-12-15 01:36] denisenkom commented on #137
is this working for you:

server=127.0.0.1;user id=sa;password=123456

?

[2015-12-15 08:31] haochun commented on #137
@denisenkom i have try it,and i use my ip.but it does not work.

[2015-12-15 17:09] dimdin commented on #137
hello @haochun please verify that the server accepts tcp connections.
see: https://msdn.microsoft.com/en-us/library/bb909712(v=vs.90).aspx

[2015-12-16 13:14] billgraziano opened #138 "Unexpected token COLMETADATA"
I'm running the simple.go example.  I made a change to the SQL:

    set nocount on; select 1, 'abc'

I get an error back

    Invalid TDS stream: Unexpected token COLMETADATA

It appears to be the SET NOCOUNT ON that's causing the problem.  I've tested with

    DECLARE @T INT; SELECT 1, 'abc'

and that works fine.  But

    DECLARE @T INT = 37; SELECT 1, 'abc'

returns the same error.

I've trie

[2015-12-16 23:18] melignus commented on #138
I've been trying to wrap my head around this problem for a little while now.

I have a noisy query that's been doing the same thing to me, temp tables, intermediate selects, a select coalesce, etc. I threw some log statements into the tokenizer because it seems to be there that I'm blowing up. If I wrap all the preliminary 'noisy' part of the query into a `tx.MustExec("query setup, variable assign

[2015-12-16 23:48] dimdin commented on #138
Please try to remove these two lines: https://github.com/denisenkom/go-mssqldb/blob/f6e253f56773336c1ae060de1f9238e2f9cd8cf2/mssql.go#L265-L266
Sorry I cannot test this change right now.

[2015-12-17 00:28] melignus commented on #138
That worked for my 'noisy' query. It doesn't appear to have an effect any of my other endpoints either.

[2015-12-18 06:56] haochun commented on #137
@dimdin thank you ,i will try it.but,i can connect it by JDBC,i does not know why.

[2015-12-18 08:46] BrianActon commented on #137
Try adding encrypt=disable

[2016-01-07 14:43] celioreyes opened #139 "Support for MDX/DAX Queries for SSAS ?"
Hey,

I'm trying to write a raw MDX/DAX query using this driver but it seems to get caught for bad syntax, when I run the query on MSSQL Server Management Studio and it runs without a problem. I just wanted to know if someone has done this before with this driver? or if this driver supports that at all?

[2016-01-15 20:35] i0rek opened #140 "Question around concurrency"
Hello,

thanks for your work, go-mssqldb is great!
I am inserting data into Azure SQL and even when I spin up multiple go routines to do so, I seem to hit a wall very fast. More than 2 go routines don't help with speed anymore. The database is almost idle, my cpu is idle, bandwidth is not exhausted... Do you have any pointers? I will provide a minimal example in a bit.

Thanks in advance for your

[2016-01-15 21:18] i0rek commented on #140
Now that I am trying to provide a simple example I seem to prove myself wrong :D.

[2016-01-15 21:36] dimdin commented on #140
Hello @i0rek
- don' t forget that in default sql server isolation level both readers and writers place locks and block each other
- check that you close statements and rows

[2016-01-15 21:40] i0rek commented on #140
@dimdin thank for your answer! This is what I am doing: https://gist.github.com/i0rek/a30d37744a8e0f5c38f3. I see improvement with this until ~10 go routines.

[2016-01-15 21:54] dimdin commented on #140
try to:
- populate the channel with titles before starting the workers
- change the sql to:
[code]

[2016-01-15 22:17] i0rek commented on #140
I tested with `WITH (ROWLOCK)` and without it. it doesn't seem to make a difference in my particular case.

[2016-01-15 22:17] i0rek commented on #140
I also tested with dedicated connections for each go routine. but that didn't change anything either.

[2016-01-15 22:34] i0rek commented on #140
`SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED` doesn't have an impact either. :/

[2016-01-15 22:38] dimdin commented on #140
GOMAXPROCS ?

[2016-01-15 22:41] i0rek commented on #140
I am using `go version go1.5 darwin/amd64`. no difference. I am importing 500 entries with 10 go routines in 4s.

[2016-01-15 22:53] i0rek commented on #140
From inside Azure it is 600ms.

[2016-01-15 22:56] i0rek commented on #140
At this speed rowlock and isolation-level are making a difference.

[2016-01-15 23:11] i0rek commented on #140
this is the last test I ran:

[code]

5k inserts per second is good enough for now. Latency is a big part it seems. Way bigger than I thought. I might give https://github.com/denisenkom/go-mssqldb/pull/79 a try.

[2016-01-19 15:25] wlfsky opened #141 "Prepare failed:Login error: unexpected EOF"
win 10 x64 ,go 1.5.2 x64, sql server 2000 on windows server 2003
E:/GoProject/src/github.com/denisenkom/go-mssqldb/examples/examples.exe  [E:/GoProject/src/github.com/denisenkom/go-mssqldb/examples]
2016/01/19 22:17:12 Prepare failed:Login error: unexpected EOF

[2016-01-19 21:04] dimdin commented on #141
Hello @wlfsky
currently SQL Server 2000 is not supported
see #91

[2016-01-20 02:00] wlfsky commented on #141
Thanks  @dimdin

[2016-01-20 06:58] #141 closed

[2016-01-21 10:12] dstpierre commented on #134
When running tests against an Azure instance, it fails for two tests that tested time outs:

--- FAIL: TestDefaultTimeout (90.70s)
        queries_test.go:311: Exec should fail with timeout, failed with driver: bad connection
--- FAIL: TestShortTimeout (6.65s)
        queries_test.go:332: Exec should fail with timeout, failed with driver: bad connection

I'm getting a high volume of those `bad con

[2016-01-22 10:21] ScottHuangZL opened #143 "How to login in case MSSQL request must use windows authentication"
As title, in other word, no user/pass, just use windows authentication, how to login? Thanks.

[2016-01-23 12:09] #143 closed

[2016-01-23 14:32] ScottHuangZL opened #144 "mssql - connect show success, but Prepare failed:InitialBytes InitializeSecurityContext failed 8009030c"
I use windows authentication, so not input user id and password.
I add sentence to detect whether connect success. It seems connect is work, however,
It show errors like: Prepare failed:InitialBytes InitializeSecurityContext failed 8009030c
Can you help on it? Thanks.

**Setting:**
var debug = flag.Bool("debug", true, "enable debugging")
var password = flag.String("password", "", "the database pas

[2016-01-23 14:44] dimdin commented on #144
Hello @ScottHuangZL
add in your connections parameters the SQL Server Service Principle Name (SPN)
e.g. connString = "server=AUSASLDATA;ServerSPN=MSSQLSvc/AUSASLDATA:1433"
see also https://technet.microsoft.com/en-us/library/bb735885.aspx

[2016-01-24 02:48] ScottHuangZL commented on #144
Thank you @dimdin
That mssql server at remote site and I do not have sa access right, just able write/read to one of database in that server.

**I use PHP to connect the remote mssql, it is working without any issue.**
 I do not have sufficient access rights to complete execute "setspn -A MSSQLsvc/AUSASLDATA:1433 <my domain account>"
**I am not sure why we need set SPN when use golang??**

Any hin

[2016-01-24 08:58] dimdin commented on #144
- What connection string do you use to connect from php?
- Is the golang machine on the same windows domain with the sql server?

[2016-01-26 03:30] ScottHuangZL commented on #144
As for php, I use Yii2 framework, the connection string as below:
'connectionString' => 'sqlsrv:Server=AUSASLDATA;Database=EOL',
The drivers provided by Microsoft for php, thanks.

That server at USA, I am in China, anyway, should be different domain, however we are in same company and can access that DB. Thanks.

I am switch to ODBC to connect mssql , it is work for my go program now.
And waiting

[2016-01-28 20:49] stephenlorenz opened #146 "Login failed. The login is from an untrusted domain and cannot be used with Windows authentication."
I am trying to login to a SQL Server 2012 instance in a large enterprise computing environment. From other languages/platforms (e.g. Java JTDS) we typically use Windows domain credentials to authenticate without a problem. Instead of using full-fledged user accounts, we use so called "service accounts" to authenticate.  Our "service accounts" are standard Windows domain account except they do not

[2016-01-28 21:08] dimdin commented on #146
Hello @stephenlorenz

Does your client machine belong to mydomain.org ?

If it is joined mydomain.org and the problem persists, find from the SQL server log the server SPN and set it using the drivers ServerSPN connection parameter. The drivers default SPN for your case is MSSQLSvc/sqlserver.mydomain.org:1433

[2016-01-28 22:10] stephenlorenz commented on #146
No, our client machines does not belong to mydomain.org. Unfortunately, the Linux servers and/or containers where this Go application will run will likely not be joined to the domain. Much of our development will likely be on a mix of Macs and Windows; the Macs will not be joined to the domain. Is there support for using domain accounts without the host environment joining the domain?  This has be

[2016-01-28 22:16] dimdin commented on #146
For non windows clients, only SQL Server authentication and NTLM v1 are supported.
Your best option is using SQL Server authentication since NTLM v1 support is dropped from recent windows servers because it is not secure.

[2016-01-28 22:20] stephenlorenz commented on #146
Thanks @dimdin

Is it possible to use SQL Server authentication with DOMAIN\username accounts?  If so, how can we specify this in the connection string?  I didn't notice any documentation on how to specify which authentication scheme to use.

[2016-01-28 22:26] dimdin commented on #146
You cannot use domain accounts in SQL Server authentication, SQL Server authentication means that the users and passwords are kept in the SQL Server (see https://msdn.microsoft.com/en-us/library/ms144284.aspx )

You might me able to use a user from the SQL Server machine (try sqlserver\sqlserverlocaluser )

If there is no backslash \ in the user name the driver is using SQL Server authentication.

[2016-01-28 22:42] stephenlorenz commented on #146
Thanks @dimdin

That's what I suspected. Unfortunately, our development group doesn't administer the SQL Server so we can't easily add local SQL accounts. As you might suspect, any request to add local accounts will be met with derision from the DBAs!

Thank you for your guidance. I appreciate your time. Fortunately, our project is still early in development so this gives us the chance to reconsid

[2016-02-04 04:19] chadkouse commented on #103
Well I tried turning on logging in the connection string.. but I don't know where the logs go?  (This is running as a service on windows)

[2016-02-10 16:02] mavlyutov commented on #125
any update of this one?
have the same issue

[2016-02-14 04:50] fdgit commented on #125
That happens if the SQLBrowser service is not running.   It should really fail with some sort of "instance not found error" type of error.
(Possibly unrelated, but sql express sometimes has tcp disabled by default.  Check it in config manager)

[2016-02-18 07:55] judwhite commented on #135
I'm having the same issue with a named instance locally. I disabled Shared Memory and Named Pipes, leaving just TCP/IP, which worked for local server using the default instance name. However when I try to connect to `.\SVR1` or `[host]\SVR1` I get "driver: bad connection".

[2016-02-23 06:29] ggitau opened #147 "Login error: Invalid TDS stream: Unknown token type: 0"
Getting the error below when using the driver to access a table in my database.
"Login error: Invalid TDS stream: Unknown token type: 0" . What could I be doing wrong?

[2016-03-03 10:10] partamonov opened #148 "Question. Create DB query, cannot make it work with Statement Parameters"
``conn.Query("CREATE DATABASE [?1]", dbName)`` is giving me error Error creating MSSQL database my_db1: sql: statement expects 0 inputs; got 1, %!s(MISSING)

same but with concat is working:
`` _, err = conn.Query("CREATE DATABASE [" + dbName + "]")``

I made that based on example in ReadME
``db.Query("SELECT * FROM t WHERE a = ?3, b = ?2, c = ?1", "x", "y", "z")``

SELECT is working for me

[2016-03-03 10:41] BrianActon commented on #148
Does db.Ping() work?

[2016-03-03 15:06] partamonov commented on #148
Yeap, ping is working, and connection is fine. I can create DB if I use string concat ``"CREATE DATABASE [" + dbName + "]"`` but when I try to substitute it with statement parameters it fails.

I have SELECT statement with ``conn.Query("SELECT db_id(?1)", dbName)`` and it works fine.

[2016-03-03 16:34] dimdin commented on #148
Hello @partamonov
SQL Server cannot use parameters for identifiers (such as table names, field names and database names)

The only way is to concatenate the strings. If dbName can be entered by users, replace ']' characters with "]]" (e.g. "test]; drop database [master" must be escaped as "test]]; drop database [master" )

[2016-03-03 21:22] partamonov commented on #148
Thank you. I re-read docs and found what I need. once again thank you for clarifying.

[2016-03-03 21:22] #148 closed

[2016-03-09 11:00] dstpierre commented on #134
@denisenkom would you know where / why we are getting those errors, I would be happy to contribute and try to fix this, but not really sure where should I start looking.

I've asked on SO http://stackoverflow.com/questions/35814017/how-to-prevent-handle-errbadconn-with-azure-sql-database as well, nothing yet, even started a bounty.

What would you recommend? Do you have some idea where could I foc

[2016-03-12 15:17] denisenkom commented on #134
Since you have failing tests it is easier to begin investigation there.  Try debugging tests and at the same time capture network packets using something like Wireshark.  If you cannot figure it out by yourself post your findings here.

[2016-03-26 00:37] ozkar99 commented on #125
+1 for this, have same issue, SQLBRowser service was NOT running.

[2016-03-31 01:44] roylee0704 commented on #114
I think this should be noted somewhere explicit at readme/gotcha.

I encountered the same issue and I have never thought the blame is on the driver. I've been trying for 1hour before decided to look for similar issues here.

[2016-03-31 01:52] roylee0704 commented on #114
I think this could be noted somewhere explicit in gotcha/readme section. :) Bumped into the issue and the workaround helps.

[2016-03-31 15:19] rbucker opened #149 "local temp tables are not working"
Is the driver reconnecting with each execute?

[2016-03-31 15:24] dimdin commented on #149
The driver does not control the connections.
The database/sql package keeps a connection pool and can give you a different connection or a new connection for each execute (except for transactions).
See http://go-database-sql.org/connection-pool.html for ways to control the connection pool.

[2016-04-03 22:53] denisenkom commented on #138
Merged pull-request with a fix and added unit-test.

[2016-04-03 22:53] #138 closed

[2016-04-04 01:27] denisenkom commented on #114
@roylee0704 thanks for testing this issue.

Which version of SQL Server did you use?
What is service pack level of the SQL Server?
Which version of Go did you use?

[2016-04-04 01:58] denisenkom commented on #125
Added timeout to getInstances operation.  It should fix this issue.  Thanks everyone!

[2016-04-04 01:58] #125 closed

[2016-04-16 22:03] billgraziano commented on #135
I'm still struggling with this issue.  I tried hardcoding "tcp4" and "udp4" in the source but that didn't resolve it.  It still doesn't like a named instance with a trusted connection.  Is anyone else using this combination successfully?

[2016-04-30 02:48] denisenkom commented on #135
Can you post logs?

[2016-05-01 17:25] billgraziano commented on #135
While I was working on this I stuck LOTS and LOTS of log.Println into the code and generated way too much output.  I tried connecting with machine\instance and IP,port to local instances.  The IP,port works but machine\instance fails.  I haven't had the ability to test anything over the network yet.

The logs are pretty similar through line 31 (works) and 34 (fails).  That's where I'm printing out

[2016-05-02 08:58] cihatgenc commented on #135
Same issue here:
Server=MYLAPTOP\SQLEXPRESS;Database=master;port=51704; -> fails
Server=127.0.0.1;Database=master;port=51704; -> works
Server=192.168.1.76;Database=master;port=51704; -> works

BTW, I only tried integrated authentication

[2016-05-03 10:33] michaelbironneau commented on #103
Same problem on both Windows 7 and Ubuntu 14.04 running either Go 1.5 or Go 1.6.2. Is there any resolution for this that doesn't involve downgrading the SQL database from v12 to v2?

[2016-05-03 10:58] michaelbironneau commented on #103
OK, it seems the problem has somthing to do with ENVCHANGE. In SQL Server Management Studio you get an error when switching database from the dropdown, but it ignores it and moves on. This is probably the same issue. The workaround, it seems it to **not** specify a database name in the connection string - at least this works for me.

[2016-05-03 15:55] michaelbironneau commented on #103
Right - think I found the issue. Some code was panicking because of an EOF that could be safely ignored. Sent you a PR.

[2016-05-04 12:56] samrat-roy opened #152 "How to read data from the result set using stored procedure"
Hi,
I am new to this golang. My requirement is to call SQL server and get data from the DB using stored procedure. I am using the below code. I am getting the result back but when i am trying to access the data its showing empty. Same code is working when i am doing in-line query .Please let me know where i am making mistake.

// Calling SP here by passing input parameter
row, err := db.Query("exe

[2016-05-12 23:39] dkolli commented on #48
adding "encrypt=disable"  at the end of the connection string solved the issue. thanks @ZhenchongLi for the suggestion.

[2016-05-18 12:33] luca-moser opened #154 "Ping() not working"
Hi, I am currently facing a problem with the Ping() method in the SQL package, when using this driver. It seems that Ping() suceeds no matter what.

I have some little test code:
[code]

When I run this code and remove the network cable on my laptop when the waiting is going on `<-time.After(time.Duration(10) * time.Second)`, the second pinging still succeeds with: `"connection to mssql database s

[2016-05-18 14:54] dimdin commented on #154
The driver has no control. The golang Ping implementation reuses the last connection from the pool. see: https://golang.org/src/database/sql/sql.go?s=14098:14124#L489

[2016-05-19 07:49] luca-moser commented on #154
I see, thanks for the heads up.

[2016-05-19 07:49] #154 closed

[2016-06-02 21:45] joaquinicolas opened #155 "Failed to parse certificate from server"
TLS Handshake failed: tls: failed to parse certificate from server: asn1: structure error: base 128 integer too large

var debug = flag.Bool("debug", false, "enable debugging")
var password = flag.String("password", "asdasd", "asdasd")
var port *int = flag.Int("port", 1433, "1433")
var server = flag.String("server", "111.72.41.53", "153.72.41.53")
var user = flag.String("user", "dummy", "dummy")

[2016-06-10 00:36] itzamna314 opened #156 "Isolation level"
It looks like this driver is always setting transaction isolation level to `0`.  Does this imply that all transactions are `READ UNCOMMITTED`, or that they use the server default?  I've been looking for the wire protocol for isolation levels, but I haven't been able to find anything.

Are there any plans to add support for setting isolation level in this driver?

[2016-06-14 04:40] bhcleek commented on #156
`0` means to use the current isolation level. The documentation for the wire protocol you're looking for is https://msdn.microsoft.com/en-us/library/dd339887.aspx

[2016-06-14 16:40] itzamna314 commented on #156
Thanks!

[2016-07-06 16:24] TedKnudsen commented on #149
Possibly related: we've also tried to create local temp tables in a transaction.  If we use placeholders whilst creating the temp table, the temp table does not survive for subsequent queries to it in that transaction.  If we do NOT use placeholders, the temp table survives correctly.

db := database.GetDB(clientDatabase)
tx, err := db.Begin()
if err != nil {
	panic(err)
}
defer tx.Rollback()
stmt

[2016-07-06 16:42] dimdin commented on #149
@TedKnudsen from MS documentation:

"Temporary tables are automatically dropped when they go out of scope, unless explicitly dropped using DROP TABLE:
A local temporary table created in a stored procedure is dropped automatically when the stored procedure completes."

The driver is using the same connection in your code, but each Exec is a different batch and the temp ta ble lifespan is limited to

[2016-07-06 16:47] TedKnudsen commented on #149
Can you please clarify: Why are the temp tables being generated in a different batch when using placeholders (?), but are working as expected when not using placeholders?

See below: this works fine.

db := database.GetDB(clientDatabase)
tx, err := db.Begin()
if err != nil {
panic(err)
}
defer tx.Rollback()
stmt, err := tx.Prepare("SELECT 222 AS 'SomeValue' INTO #tmpResults")

if err != nil {
pani

[2016-07-06 16:52] dimdin commented on #149
The driver is using the sp_executesql stored procedure to prepare the sql statements. My guess is that temporary tables created from sp_executessql stored procedure are dropped when the stored procedure ends.

The driver is not using stored procedures when there are no parameters, and in that case it seems that the temporary table persists.

[2016-07-06 16:55] dimdin commented on #149
"Prepared statements cannot be used to create temporary objects on SQL Server. Prepared statements cannot reference system stored procedures that create temporary objects, such as temporary tables. These procedures must be executed directly."

https://technet.microsoft.com/en-us/library/ms175528(v=sql.105).aspx

[2016-07-06 16:58] TedKnudsen commented on #149
Thanks for clarification, we'll find workarounds.

[2016-07-15 20:53] manaveed commented on #78
Hi @denisenkom,  any update on supporting output param go-mssqldb lib?
The stored procedure executes successfully but i'm not sure how to retrieve the output parameter value??

[2016-07-17 15:27] denisenkom commented on #78
No updates from me yet.  First output parameter support should be added to database/sql package.

[2016-07-18 15:47] manaveed commented on #78
Thanks @denisenkom, do you suggest any alternate method for resolving this issue?
@Wuvist as you mentioned above, were you able to resolve this issue? could you please explain the steps for it?
My apologies for asking too much but I just started a new project in go-lang interacting with existing SQL server db having stored procedures with output parameters.

[2016-07-18 15:50] dimdin commented on #78
Hello @manaveed
It is possible to execute the stored procedure and select the output parameters using one Query or QueryRow statement.
i.e.

"exec DoSomething @in1, @out1, @in2, @out2;
select @out1, @out2;"

[2016-07-18 17:00] manaveed commented on #78
Thanks @dimdin for your hint, it worked.

But this requires a slightly change in existing stored procedures for selecting the output parameters. Will see the impact for the existing clients calling these sps.

Thanks  again

[2016-07-21 22:11] jesusgalvan commented on #59
does it support named parameters?

[code]

[2016-07-25 23:57] flaviotsf opened #159 "How to set Command Timeout?"
I have a fairly slow SQL that I'm calling, that puts a lot of data together. I'd like to set the Command Timeout to "0". I believe the command is timing out, and I'm receiving a
`driver: bad connection`

If the query was to be made simpler (i.e. selecting less rows) it would finish.

I did try to set the Keep Alive and Dial Timeouts, but I believe I need a way to set the "Command Timeout" (similar

[2016-07-26 15:11] vadimi commented on #159
I normally use `connection timeout` property for such cases.

[2016-07-29 04:55] clns commented on #96
@FilipDeVos I'm also interested in this, have you been able to implement https://github.com/natefinch/npipe? Or made any progress whatsoever?

[2016-07-29 17:43] FilipDeVos commented on #96
Not really no. Sorry

[2016-07-31 13:49] Wuvist commented on #78
@manaveed I will try to come out with an implementation PR.

[2016-08-07 14:09] rbucker opened #161 "not closing connections"
I have production code that loops over my query results and when the loop closes `(rows.Next() == false)` the connection remains open. Reviewing the test cases I do not see any validation of this operation.

[2016-08-10 21:00] SQLServerIO opened #162 "func dialConnection in TDS.go attempts to connect to an IPv6 address"
Since go-mssqldb doesn't support IPv6 this is an issue.

func dialConnection makes a general call to net.LookupIP(p.host) which returns both IPv4 and IPv6 addresses.

The simplest way to solve this is just to use ip.To4() and discard any address that comes back nil.

I think this effects these bug reports as well:
#137
#135
#105

I'll submit a pull request once I figure out how :)

[2016-08-11 02:18] SQLServerIO opened #163 "SSPI authentication error when connecting to local instance"
Ok,
After hours of debugging #162 it isn't just a IPv6 issue.

It actually throws an authentication error with SSPI if you use a string for the server part of the connection string.

If you try localhost, servername or servername.domain.local none of it works. If you use 127.0.0.1 or the IPv4 address it connects just fine with SSPI.

I've tested this on:
SQL Server 2005 RTM / Windows 2008
SQL Serv

[2016-08-11 07:08] SQLServerIO commented on #163
I got a clue, typeo on the command line with a default set made me think it was connecting to the local server it was not. It also shows the same problem as all the others.

I have checks SPN's for all machines as well all check out.

Looking at the logs I can see that when I connect via IPv4 it looks like it is actually using NTLM for both local and remote connections.

[2016-08-13 16:30] MarkSonghurst commented on #78
+1 on support for output parameters.
I need to call stored procedures that return both result sets and output parameters.
Currently I use the gofreetds library to achieve this, but it would be very good to have the choice of an alternative package.

[2016-08-14 16:32] denisenkom commented on #161
Connection opening and closing is handled by go/sql.  It is using connection pool so it won't close connection after operation is complete but instead it will reuse it for further operations.  That is probably what you see.

[2016-08-14 16:51] rbucker commented on #161
In my code I have a for loop that exhausts the resulting rows.  `rows.Next()` however `db.OpenConnections` returns ever increasing numbers of connections as I execute other `Query`. When I set max Open and max idle the application stalls. When I looked at the `database/sql` code they are testing this operation so I hope it's working. When I looked at go-mssqldb tests they did not.

[2016-08-17 12:54] zhaowolong opened #164 "can not connet mssql with the error"
the code is:
connString := fmt.Sprintf("server=%s;user id=%s;password=%s;port=%d", *server, *user, *password, *port)
    if *debug {
        logging.Info(" connString:%s\n", connString)
    }
    cnn, err = sql.Open("mssql", connString)
    if err != nil {
        logging.Error("Open connection failed:%s", err.Error())
        return err
    }

[code]

return : Prepare failed Login error: EOF but

[2016-08-17 16:08] SQLServerIO commented on #164
have you tried just using .Query to execute the statement?

[2016-08-18 13:07] RichardChambers opened #165 "Update the readme with SQL Server settings required and provide a better demo program"
Thank you for this SQL Server driver for Go's sql package. While it took me a bit of time to figure out how I could use it in a demo program, I now have something real to do with it.

Would it be possible to update the readme file with some basic SQL Server configuration settings?

I put together an answer to a stack overflow question about using this driver to document what I found while working

[2016-08-23 18:54] suntong commented on #165
+1 for that.

The readme says the pacakge supports SQL Server and Windows Authentication, as well as Single-Sign-On on Windows. However, I've looked all over the places but the only option I have found is via SQL Server Authentication. No any Windows Authentication example found at all.

Anybody knows how to do Windows Authentication please?

[2016-08-23 20:18] RichardChambers commented on #165
An additional thing that I discovered by accident is that to use Windows Authentication you must specify a domain name with the user id. If you do not specify a domain name then the behavior is to use SQL Server Authentication.

For example "user id=domain\\usrname;password=usr_pw;" or if you want to use the local domain or a local PC Windows user "user id=\\usrname;password=usr_pw;" that is witho

[2016-08-23 20:21] dimdin commented on #165
@RichardChambers to use the current user credentials, don't specify "user id"

[2016-08-23 20:22] suntong commented on #165
yep, Got that answer as well from Michael-John Turner:

  Authentication user id in the DOMAIN\User format. On Windows, if user id is
  empty or missing Single-Sign-On is used.

(from the README).

[2016-08-23 20:23] RichardChambers commented on #165
Thank you both. I will try that out this evening and update my stackoverflow answer as well.

Sincerely,

Richard Chambers

[2016-08-23 20:25] suntong commented on #165
Thanks a lot @RichardChambers. Appreciate your stackoverflow answer to give people like me an easy start.

[2016-08-23 20:35] RichardChambers commented on #165
You are most welcome. It was kind of a fun small project and once I got the example running,

I have a new example with a simple go web server providing data from a SQL database. I am still working on that one and now that I have the hint about the Windows Authentication, I think I have most of the pieces I need to finish that up.

Then I have a second project that would be a go server accepting c

[2016-08-23 21:36] RichardChambers commented on #165
@dimdin  when I have tried without the "user id=" string, the sql.Open() does not seem to open a proper connection to the SQL Server instance. I see errors when the follow on operations are tried.

If I specify my Windows user id and password in the sql.Open() as in
  condb, errdb := sql.Open("mssql", "server=localhost;user id=domain\\usrname;password=pswrd;"

then I get the following output.

I h

[2016-08-23 21:46] dimdin commented on #165
It is important to have the correct host name, from that name the driver is building the SQL Server kerberos Service Principal Name (SPN) and that name must match SQL Server's.
Try using: "server=hostname" where hostname is the actual host name.
If the problem persists, locate from the SQL Server log  the actual SPN and provide it using:
"server=localost;ServerSPN=MSSQLSvc/hostname:1433"

[2016-08-23 23:17] RichardChambers commented on #165
@dimdin  I looked in the SQL Server logs after doing a restart of the service and see the following log entry:

2016-08-23 18:32:16.77 Server      The SQL Server Network Interface library could not register the Service Principal Name (SPN) for the SQL Server service. Error: 0x54b, state: 3. Failure to register an SPN may cause integrated authentication to fall back to NTLM instead of Kerberos. Thi

[2016-08-24 19:48] suntong commented on #165
I gave it a try with my SQL Server 2008 R2, with proper Service Principal Name (SPN), and the result is quite positive.

I.e., I tried the following two ways and both are just working fine:

[code]

[2016-08-25 15:08] RichardChambers commented on #165
@suntong  could you add a comment to the stackoverflow posting I did with the information about your success with Windows Authentication?

Or you could do an edit and add a paragraph at the bottom in the Windows Authentication section. Just add a bold title and mention your id as well so people can see your contribution.

[2016-08-29 17:23] suntong commented on #165
Done, pending approval.

[2016-08-31 14:00] sunnyque opened #166 "Azure SQL. long query - driver: bad connection"
got a headache with a strange behavior when working with SQL Azure.

this code causes "driver: bad connection" error when executing second select

[code]

log:

so as we see there is 3 attempt to execute long query (why???) and we have "wsarecv error by unknown reason" for each of them

tried to connect and run with SQL2005 - no problems at all.
wireshark doesn't hep because connection with sql az

[2016-09-02 20:47] siddharthlatest opened #167 "Managing idle SQL connections"
I am noticing an approx. 30 mins drop time for an idle connection to Azure SQL DB. After this, I see a

[code]

error message. I see an issue that might be relevant here https://github.com/denisenkom/go-mssqldb/issues/44, and wanted to see if the connection parameter ``keepAlive`` is the intended way to keep the connection alive, or if there are any other recommendation on the issue.

[2016-09-03 10:13] siddharthlatest commented on #167
The fix includes setting to a value that's < 30 mins.

[code]

When / if this is not set, the library considers the connection reusable indefinitely, a problem since Azure's SQL DB closes an idle connection after 30 mins (by design).

Another recommended setting is _to set_ a **set** of connections so that the library pool can interchange between multiple connections.

[code]

This effectively sol

[2016-09-05 10:06] ilog2000 opened #168 "XML queries give nil result"
Including XML queries gives Scan errors in Rows like "column value is nil, and cannot be converted to *string". My guess, this is because of lack of escaping.

`SELECT t.Id, t.Xml.value('(/root/item/custom_id)[1]', 'varchar(50)') AS CustomId
FROM MyTable t
`

[2016-09-06 06:27] kylescottmcgill commented on #166
We also see this with any query with over 1000 bytes. We only just got this error, so going to debug a little bit and see what we can find, this **only** happens with Encrypted connections too.

[2016-09-06 09:50] kylescottmcgill commented on #166
curiously, when developing on a test application using similar techniques as in the *_test.go files, a 1kb query works fine - will continue hunting, but we are seeing these issues in production, so for now we have disabled Encryption until we can figure out what is going on. Will provide any info if we can.

[2016-09-06 19:49] ilog2000 commented on #168
My bad, the column contained absolutely unexpected null, so the error was just about using String instead of db.NullString in the struct,

[2016-09-06 19:49] #168 closed

[2016-09-11 07:50] #167 closed

[2016-09-14 17:40] RoarkeRandall commented on #166
We're seeing this in production as well, on a large merge statement.

[2016-09-20 23:19] tartale opened #169 "SQL Server usernames and passwords with certain characters fail"
SQL Server allows for most characters in the username and password.  However, if a user changes their username and/or password to any of the following cases:
- Contains a semi-colon
- Starts with a space
- Ends with a space

Then any access from a Go program using this library will fail with this error:
`Login error: mssql: Login failed for user 'xyz'.`

[2016-09-21 16:35] tartale commented on #169
My colleague and I brainstormed a few solutions to this - we're attempting to come up with non-breaking (backward-compatible) solutions.

Solution 1:
- Parse the connection string by locating the start of all the 'key=' strings (where "key" is one of the documented, supported keys in the README).
- Consider the 'value' to be everything between the '=' and either:
    - the end of the string, OR

[2016-09-21 16:46] dimdin commented on #169
Miscrosoft uses two ways to solve the problem, the ODBC way is to enclose in {} https://msdn.microsoft.com/en-us/library/ee224215(v=sql.105).aspx and the OLEDB way is to enclose in quotes

[2016-09-21 17:39] tartale commented on #169
Does this library support enclosing passwords in `{}`?  If not, I can file a separate issue?

[2016-09-21 20:46] lcaballero opened #170 "Improper parsing of string identifiers"
I think [#169](https://github.com/denisenkom/go-mssqldb/issues/169) needs to be re-opened.  The parsing in the library won't handle the following:

`User Id={ abc ;}`

Where the `;` is part of the value.  Mainly because of the split in this line: [tds.go@25](https://github.com/denisenkom/go-mssqldb/blob/master/tds.go#L25)

[2016-09-22 02:34] dimdin commented on #169
sorry, I did not intent to close this

[2016-09-22 02:36] dimdin commented on #169
The library does not support enclosing user names or password in {} or in quotes.

[2016-09-22 03:00] tartale commented on #169
Thanks for re-opening, I added a solution to my original post...

[2016-09-22 03:15] tartale opened #171 "Consider returning an error in case of a bad connection string"
The following connection strings are illegal, but silently ignored:

`;;;`
`=foo; user id=bar; password=baz`

Since the `Open()` function allows returning of an error, it seems reasonable to report these as errors.

[2016-09-23 18:15] asw commented on #166
I'm seeing this issue with longer running queries (encrypted, I haven't tried turning it off). I increased the connection timeout (connection timeout=300; in the connection string) and it solved my problem for now.

[2016-09-24 15:48] denisenkom commented on #169
I don't like solutions 1-3, they are non-standard.  I think we should go with ODBC or OLEDB approach.  I personally lean toward OLEDB; it seems to be more flexible.

Also I don't think we should add version attribute, it would make connection string uglier.  I think if connection string parsing changes in non-backward compatible way it is easy enough for users to update their connection strings to

[2016-09-24 16:08] ArtnerC commented on #169
Since Microsoft is deprecating OLEDB it might make more sense to go with ODBC standards? Though I too prefer quotes.

[2016-09-26 20:43] denisenkom commented on #169
Agree, ODBC is probably better.  By reading MS ODBC docs it is not clear how to escape password which contains both semicolon and curly bracket, e.g.: 'abc};def'

[2016-09-26 20:46] dimdin commented on #169
you double the closing brace i.e. {abc}};def}
https://msdn.microsoft.com/en-us/library/ee209078(v=sql.105).aspx

[2016-09-27 16:17] tartale commented on #169
Depending on how a surround-by-bracket solution was implemented, the calling code could get somewhat tedious - imagine the requirement to escape-and-quote was leveraged to the caller - a library user's code would look something like this:

[code]

Unless I'm missing something?

[2016-09-27 21:21] chaika2013 opened #173 "Use of SetQueryNotification function"
I'd like to use MSSQL query notification feature, but I can not find any example of how to get these notification using go-mssqldb. `README` file says that query notifications are supported and I can see `SetQueryNotification` in source code. But how can it be used with `database/sql` package?

[2016-09-28 17:49] dipbhi opened #174 "Login failure"
I am getting login failure error with sqlexpress 2016. I did try with encrypt=disable in the connection string but that doesn't seem to help. This user is able to connect fine using the management studio.

Here is the code:

[code]

This is the exact error message:

In the windows event viewer, error is logged as

[2016-09-28 17:52] dimdin commented on #174
replace the colon after password with =

[2016-09-28 17:54] dipbhi commented on #174
Oh wow, I must be blind! I am pretty sure I looked at the connection string 10 times. Thanks for your quick response, and yes it fixed the error.

[2016-09-28 17:54] #174 closed

[2016-10-01 03:13] brydavis commented on #105
I'm experience same error `driver: bad connection`.

Issue seems to arise when query data from large table (5+ million rows).

[2016-10-07 23:40] melignus commented on #105
@brydavis I ran into this issue when running a report. It wasn't a million rows, but it's a huge number of columns and a slow running report. What fixed it for me was just increasing the "connection timeout=" parameter in the connection string. I noticed that it defaults to 30 seconds in via the README and increasing it fixed my problem.

I agree that `driver: bad connection` wasn't a very telling

[2016-10-08 00:01] melignus commented on #169
CIFS urlencodes the special characters in usernames and passwords e.g:

`Testing{;password` becomes `Testing%7B%3Bpassword`

That might be easier that reworking the parser?

[2016-10-08 00:29] melignus commented on #164
What version of mssql? Some versions, I think the express version or older versions error out when you try to connect via an encrypted connection. To test add `encrypt=disable` to the connection string to see if that fixes the error.

If it does, there is a patch to mssql server that addresses this issue. I'll see if I can find the post with the links to the fix.

[2016-10-21 07:48] baimeidaxia opened #176 "false Unable to get instances from Sql Server Browser on host"
false Unable to get instances from Sql Server Browser on host ***.55.172.1: read udp 192.168.2.110:54118->***.55.172.1:1434: i/o timeout
please help me , thank you

[2016-10-21 14:45] dimdin commented on #176
Ensure that the SQL Server Browser windows service is running and there is no firewall blocking UDP port 1434. This service is used by the driver to get the TCP port of the SQL Server instance.

[2016-10-22 09:00] baimeidaxia commented on #176
ok, thank you.

[2016-10-22 09:00] #176 closed

[2016-10-28 14:52] heretic13 opened #177 "Error: Single-Sign-On not work"
Hello.

I have a questions.
I use driver with empty connection string - "". It means that I connect to local database, on default port with **current Windows-user permissions**.

I have result:
sql.Open("mssql", "") - no errors. OK. Behavior of sql.Open() may do not established real connect and may not produce error.

conn.Ping() - no error. OK. Maybe I have established a good connection.

Make a

[2016-10-28 21:04] coussej commented on #121
Just encountered this same issue on SQL 2005 (9.0.1399). Using `encrypt=disable` indeed works.

[2016-10-31 08:22] heretic13 commented on #177
Updated error:

write tcp 127.0.0.1:3587->127.0.0.1:1433: wsasend: An existing connection was forcibly closed by the remote host.

[2016-10-31 09:27] heretic13 commented on #177
FreeTDS binary (tsql) work on this machine on sspi mode.

[2016-10-31 10:28] heretic13 commented on #54
it's not worked.
https://github.com/denisenkom/go-mssqldb/issues/177

[2016-11-01 16:54] kardianos opened #178 "go1.8: support for additional features"
Many new important features will land in go1.8. Please see document:
https://docs.google.com/document/d/1F778e7ZSNiSmbju3jsEWzShcb8lIO4kDyfKDNm4PNd8/edit?usp=sharing for the full list.

Because these features are new we want drivers to implement them before they are released. Ideally they should be implemented by 2016-12-12 to allow for any driver provided feedback from implementation if necessary

[2016-11-04 20:58] SQLServerIO commented on #177
Hi heretic13 I've been working through this as well #163 is the one I opened a few months back.

[2016-11-04 21:42] heretic13 commented on #177
Great Thaks!!!
Problem is IPv6.

`server=(local)\SQLEXPRESS`  -  bad connection
`server=127.0.0.1\SQLEXPRESS` - work
`server=[::1]\SQLEXPRESS`  - work (raw IPv6 address)

As you see raw IPv6 working! I think problem to conversion hostname -> IP adress.

[2016-11-04 21:47] SQLServerIO commented on #177
This is the code I'm using to work around it for now.

	//look to see if we are trying to connect to the localhost and if so use a valid ip address instead
	//this is here due to a bug in go-mssqldb where you can't connect via windows auth if you are local to the server
	if strings.Contains(strings.ToUpper(serverInstance[0]), strings.ToUpper(hn)) {
		iaddrs, err := net.InterfaceAddrs()
		if err !=

[2016-11-04 23:34] heretic13 commented on #177
My 5 coin in debugging:

Problem in parameter connectParams.serverSPN.

When use SSPI this parameter pass in auth.InitialBytes() and NextBytes().
Then calls InitializeSecurityContext(,, serverSPN,,,)

If I get connectString = `server=(local)\SQLEXPRESS` then p.serverSPN is "MSSQLSvc/localhost:49878" (in my case) and nothing work.

But if I change p.serverSPN to "MSSQLSvc/127.0.0.1:49878" or p.serv

[2016-11-05 00:01] heretic13 commented on #177
gathered from FreeTDS:

/* build SPN */
	server_name = tds_dstr_cstr(&login->server_host_name);
	if (strchr(server_name, '.') == NULL) {
		struct addrinfo hints;
		int res;

		memset(&hints, 0, sizeof(hints));
		hints.ai_family = AF_UNSPEC;
		hints.ai_socktype = SOCK_STREAM;
		hints.ai_flags = AI_V4MAPPED|AI_ADDRCONFIG|AI_CANONNAME|AI_FQDN;
		res = getaddrinfo(server_name, NULL, &hints, &addrs);

[2016-11-05 00:05] heretic13 commented on #177
If I understand correctly, FreeTDS generate SPN with IP adresses instead of domain name.
If it is true, then need modify **parseConnectParams(params map[string]string) (*connectParams, error)** to provide correct SPN.

[2016-11-11 22:25] kardianos commented on #178
Are these changes of interest to the authors of this package? If so, which ones? Would PRs be considered?

[2016-11-14 00:27] denisenkom commented on #178
We are interested in those changes, PRs are welcome.  I, personally, may look into implementing "multiple record sets" feature.

[2016-11-14 02:12] denisenkom commented on #178
How can I get go1.8?  I cloned go repository and built from master branch but it does not seem to have new interfaces.  For example it complains: rows.HasNextResultSet undefined (type *sql.Rows has no field or method HasNextResultSet)

My go build reports this version:
go version devel +2f76c19 Mon Nov 14 00:24:27 2016 +0000 windows/amd64

I also can't find 1.8 branch:
  remotes/origin/HEAD -> ori

[2016-11-14 05:39] kardianos commented on #178
Look in the driver pkg. What does go doc say?

On Sun, Nov 13, 2016, 18:12 denisenkom <notifications@github.com> wrote:

[2016-11-20 04:17] denisenkom commented on #178
Sorry, not sure where should I look.  I implemented stubs for RowsNextResultSet and RowsNextResultSet methods but I am trying to write a simple test to make sure those stubs are being called.

I believe the problem is that I am currently on go 1.7.  My go version is this: go version devel +2f76c19 Mon Nov 14 00:24:27 2016 +0000 windows/amd64

I cannot find instructions on how to get go 1.8 or how

[2016-11-20 04:44] kardianos commented on #178
Do you have an existing patch you want to test? If so, just throw it on a branch on github and give me RW to it.
...
Here are the instructions to install from source:
https://golang.org/doc/install/source

You already have go installed, so no need to install go1.4, just set the `GOROOT_BOOTSTRAP` to your existing go install, maybe `C:\go` and then in your git cloned location (not the same path), r

[2016-11-21 02:12] denisenkom commented on #178
Ok, looks like I did follow correct build instructions.  I was confused because go repository did not have 1.8 branch in it.  I wan't sure that I was on a correct branch.  I looked at database/sql package in master branch and verified that it does have NextResultSet code in it.

I created new branch https://github.com/denisenkom/go-mssqldb/tree/nextresultset-denisenk, it contains stubs for NextRes

[2016-11-21 04:50] kardianos commented on #178
Sounds good. I'll take a look at it soon.

[2016-11-21 09:01] huaguoping opened #179 "panic"
Hi, I am using valid connection information (e.g. valid ip, valid username, valid password ...)  to run tsql.go.
However , I get the following panic:
panic: runtime error: slice bounds out of range

It happend when the processing was
      "err = db.Ping()
	   if err != nil {
		fmt.Println("Cannot connect: ", err.Error())
		return
	}"

Could anyone help me?Thank you very much! ：）

[2016-11-23 17:55] kardianos commented on #178
I just installed ms sql server on my linux laptop to make this easier for me to test. I fixed the test so it compiles, but I haven't yet filled out the actual methods required. I'll work on this more in a bit.

[2016-11-24 02:52] denisenkom commented on #179
Can you upload stack trace and/or logs?

[2016-11-24 03:01] huaguoping commented on #179
@denisenkom , Thank you for answer me :)

panic: runtime error: slice bounds out of range

goroutine 1 [running]:
panic(0x1bfec0, 0xc42000c0f0)
	/usr/local/Cellar/go/1.7/libexec/src/runtime/panic.go:500 +0x1a1
github.com/denisenkom/go-mssqldb.(*tdsBuffer).readNextPacket(0xc420010b40, 0x5, 0xc42000cdf5)
	/Users/huaguoping/goyard/smm/src/github.com/denisenkom/go-mssqldb/buf.go:108 +0x295
github.com/

[2016-11-24 03:37] denisenkom commented on #179
I think you probably specified incorrect port number.  Looks like go-mssqldb tried to read from provided port but the data that was read was unexpected.  This could happen if the port that go-mssqldb is talking to is not MSSQL server but something else.

[2016-11-24 03:39] huaguoping opened #180 "support for sql server 2000?"
Could I use this driver to connect sql server 2000?When I did this, I got an error:

Login error: unexpected EOF

I used the correct connect information...   :(

[2016-11-24 03:45] denisenkom commented on #180
Currently not, oldest supported version is 2005

[2016-11-24 03:50] huaguoping commented on #179
Oh, my fault!! I used port 3306.
Now I am trying use 1433. Thank You very much!! 👍

But I get another error....

Login error: read tcp localhost:53738->sqlserver:1433: read: connection reset by peer

[2016-11-24 03:52] denisenkom commented on #179
Do you have a stack trace?

[2016-11-24 04:00] huaguoping commented on #179
Thank you for your patience... :)

Cannot connect:  Login error: read tcp localhost:54318-> sqlserver:1433: read: connection reset by peer
panic: Login error: read tcp localhost:54319-> sqlserver:1433: read: connection reset by peer

goroutine 1 [running]:
panic(0x1bd200, 0xc42046cae0)
	/usr/local/Cellar/go/1.7/libexec/src/runtime/panic.go:500 +0x1a1
main.main()
	/Users/huaguoping/huaguoping/tmp/m

[2016-11-24 04:03] denisenkom commented on #179
No problem.

This stack trace doesn't look very useful.  You can try to enable logging, see https://github.com/denisenkom/go-mssqldb#connection-parameters for instructions.  You can also look at SQL server logs, it might have something useful there.

[2016-11-24 05:31] huaguoping commented on #180
Thank you!
Excuse me, could you tell me that how can I connect to sql server 2000.
@denisenkom

[2016-11-24 05:42] kardianos commented on #180
I would try a ODBC driver:
https://godoc.org/?q=odbc

[2016-11-24 05:42] #180 closed

[2016-11-25 20:42] kardianos commented on #178
Multiple result sets is in the branch.

I'd like to also support the other features too.

[2016-11-26 03:56] denisenkom commented on #178
Looking good!  Lets split work between us if you want to continue to work.  I can take "Support for query column type information".

I am also trying to merge nextresultset-denisenk branch into master but it is failing build on go 1.7 as is expected.  I tried adding "// +build go1.8" directive to make go 1.7 to ignore this test but "go test" seems to ignore this directive and still tries to run th

[2016-11-26 05:02] denisenkom commented on #173
Take a look at this pull request: https://github.com/denisenkom/go-mssqldb/pull/90

[2016-11-26 05:02] #173 closed

[2016-11-26 06:39] kardianos commented on #178
Oh, good point. I'll make this backwards compatible for tests. Thanks.

[2016-11-26 18:11] denisenkom commented on #170
Duplicate of #169

[2016-11-26 18:11] #170 closed

[2016-11-26 19:29] denisenkom commented on #103
Please test latest version and resolve this issue if it works

[2016-11-26 19:32] denisenkom commented on #164
closing since there is no response from @zhaowolong

[2016-11-26 19:32] #164 closed

[2016-11-26 20:16] denisenkom commented on #161
I added a test and it seems to work correctly.  Please take a look and reopen if you still see a problem.

[2016-11-26 20:16] #161 closed

[2016-11-26 20:27] #159 closed

[2016-11-26 20:27] #156 closed

[2016-11-26 20:29] denisenkom commented on #152
try changing query to:
set nocount on; exec [GetEmployeeDetails] ?

[2016-11-26 20:29] #152 closed

[2016-11-26 20:30] #149 closed

[2016-11-26 20:31] denisenkom commented on #147
You are probably connecting to something that is not an MSSQL server

[2016-11-26 20:31] #147 closed

[2016-11-26 20:40] #134 closed

[2016-11-26 20:58] #137 closed

[2016-11-26 21:00] #132 closed

[2016-11-26 21:01] #129 closed

[2016-11-26 21:02] #123 closed

[2016-11-26 21:04] denisenkom commented on #112
Post log and error message if you still have this problem.  Closing it for now.

[2016-11-26 21:04] #112 closed

[2016-11-26 21:04] #105 closed

[2016-11-26 21:07] denisenkom commented on #100
try log=63

[2016-11-26 21:08] #65 closed

[2016-11-28 01:40] denisenkom commented on #178
I finished implementation for column introspection: https://github.com/denisenkom/go-mssqldb/tree/column-types-denisenk

[2016-11-28 01:42] denisenkom commented on #178
Next I will work on "transaction isolation levels"

[2016-11-28 04:31] denisenkom commented on #178
Looks like I would need to implement Context first, so I will start working on it instead of "transaction isolation levels"

[2016-11-28 18:14] kardianos commented on #178
The multiple result set branch should be ready to merge now. It builds and tests with go1.7 and go1.8.

[2016-11-28 18:23] kardianos commented on #178
The column-type branch LGTM

[2016-11-28 18:25] kardianos commented on #178
The context branch looks good to me so far.

[2016-11-28 18:32] kardianos opened #181 "proposal: modify logger"
Right now the SetLogger takes a *log.Logger, even though the pkg defines a logger interface.
It also logs to the console by default.

I propose the following:
 * Have driver.SetLogger take a `mssql.Logger` interface (the *log.Logger should still satisfy it).
 * Do not log by default.
 * Have the tests log to t.Log and t.Logf (small wrapper needed) so that they don't print unless they are in verbos

[2016-12-04 00:17] kardianos opened #184 "proposal: set exec type to PROC when query is single line [word]"
Rather than require the user to run: `exec dbo.MySuperProc @foo=@foo @fii=@fii`

the user could then just write: `dbo.MySuperProc` and pass in the prams "foo" and "fii".

The entire decision for setting exec type to PROC:
 1. Does query start with "["?
 2. No, Set to PROC IF no whitespace runes in string.
 3. Yes, Set to PROC IF No new lines and ends with "]"
 4. Else normal batch query text mode

[2016-12-04 00:19] kardianos opened #185 "proposal: support ssrp"
I could have missed something, but I don't believe it currently supports ssrp proto (discovers instances and ports used on a host.

I have a current implementation here I could donate over:
https://bitbucket.org/kardianos/rdb/src/9016e187c250331d1c1c35444a69f27b87bdb5e8/ms/ssrp/?at=default

[2016-12-04 00:21] kardianos opened #186 "proposal: driver facility to break up query batches"
SQL Server often breaks up queries with a keyword, often "GO".

Offer a parser package that parses a query and returns multiple query texts to run. This would not normally be done on a query, the user would need to separate them out by calling a separate API. I have an implementation I could donate here:

https://bitbucket.org/kardianos/rdb/src/9016e187c250331d1c1c35444a69f27b87bdb5e8/ms/batch/?at

[2016-12-04 04:13] kardianos commented on #140
You are inserting into MS SQL server into the same table. Your best bet is to ensure a table lock is taken and use a single session. The bulk load API is critical to help doing this for MS SQL Server.

[2016-12-04 04:13] #140 closed

[2016-12-04 04:26] kardianos commented on #78
Depends on https://github.com/golang/go/issues/18079

[2016-12-04 04:47] kardianos commented on #28
I've never had a use for multiple active result sets. Normally multiple sequential result sets work just fine. What use cases would require this, and would it benefit the database/sql driver?

[2016-12-04 04:48] kardianos commented on #39
I agree, this is important. I can also look into this later.

[2016-12-04 14:50] kardianos commented on #97
Poster abandoned the project this was for and no longer reproduce.

[2016-12-04 14:50] #97 closed

[2016-12-04 16:04] denisenkom commented on #28
Probably not, I think database/sql manages connections seamlessly enough.

[2016-12-04 16:04] #28 closed

[2016-12-04 16:44] denisenkom commented on #178
context methods are implemented

[2016-12-04 16:44] denisenkom commented on #178
transaction isolation levels are implemented

[2016-12-04 16:45] denisenkom commented on #178
Will do named parameters next

[2016-12-04 16:55] kardianos commented on #178
When implementing named parameters, all parameter names will come in without a symbol "@". Need to prefix with "@" before sending.

[2016-12-04 18:14] denisenkom commented on #178
CR for named parameters: https://github.com/denisenkom/go-mssqldb/pull/188

[2016-12-04 18:17] denisenkom commented on #178
I will look into cancelable queries next

[2016-12-05 03:12] denisenkom commented on #178
Is there a good way to use Context with sockets?  E.g. propagate context cancellation and deadlines to sockets?

[2016-12-05 04:20] denisenkom commented on #185
It is implemented here: https://github.com/denisenkom/go-mssqldb/blob/master/tds.go#L50

[2016-12-06 03:09] kardianos commented on #185
Whops! Thanks :)

[2016-12-06 03:09] #185 closed

[2016-12-06 04:17] denisenkom commented on #178
Looks like all features are implemented.  I will add more tests and then close it.  Thanks for help Daniel!

[2016-12-07 17:52] heyimalex commented on #119
This was closed, but I'm experiencing the same error using the latest version; read timeouts and then failed to resume transaction and then scan errors that appear to just be out of order. It's going to be hard to repro but I'll try.

[2016-12-08 03:55] denisenkom commented on #81
I've set default for TCP keep alive to 30 seconds as described in spec: https://msdn.microsoft.com/en-us/library/dd341108.aspx

Please try again on latest version.

[2016-12-08 03:55] #81 closed

[2016-12-08 03:58] denisenkom commented on #171
Driver already returns error on bad connection string.  The issue is that sql.DB.Open does not call driver's Open method until query is made.  So I don't think this issue can be fixed on driver level.

[2016-12-08 03:58] #171 closed

[2016-12-08 04:01] denisenkom commented on #119
try again on latest version, it sets TCP keep alive to 30 seconds by default now

[2016-12-08 04:01] #119 closed

[2016-12-08 04:03] denisenkom commented on #166
Try again on latest version, it now sets TCP keep alive to 30 seconds by default

[2016-12-08 04:03] #178 closed

[2016-12-08 16:24] kardianos commented on #171
Users should always call DB.Ping after opening a db pool.

On Wed, Dec 7, 2016, 19:58 denisenkom <notifications@github.com> wrote:

[2016-12-08 19:48] arsing commented on #169
We're interested in getting this fixed since we're using this driver at work, and would like to have passwords with semi-colons, etc work.

Will you be interested in accepting a PR that adds support for parsing the ODBC format (values wrapped in `{}`) ?

Switching to ODBC parsing mode completely will be a breaking change since it'll change how `{}` are interpreted. How would you like that resolved

[2016-12-08 20:10] LukeMauldin opened #191 "Add support for connection retry logic equivalent to MultisubnetFailover"
In .NET 4.6.1, SqlClient is intelligent enough to automatically detect if the SQL connection is to a  AlwaysOn Availability Group or a SQL Cluster and sets MultisubnetFailover which optimizes client failover behavior.  See https://blogs.msdn.microsoft.com/dotnet/2015/11/30/net-framework-4-6-1-is-now-available/  and https://msdn.microsoft.com/en-us/library/hh205662(v=vs.110).aspx

Even if the Golan

[2016-12-09 03:02] denisenkom commented on #169
Here is another option:

Introduce a function to set connection string style: SetConnectionStringStyle, this function would take a enum which can have values: connStrStyleSimple, connStrStyleODBC.  connStrStyleSimple would be a default.

Change Open method to use connection string style which was set by previous call to SetConnectionStringStyle.

Than said I actually like prefix better for it's si

[2016-12-09 15:09] mikewilliamson commented on #191
If I correctly understand what MS are saying in their blog, this may have already been implemented by PR #124 last year.  My understanding of MultiSubnetFailover=true is that it will make the .NET driver dial the various members of the cluster in parallel, so you don't have to wait for one to timeout before trying the next one.   Since #124, the Go driver will always do this when connecting to an

[2016-12-09 15:14] LukeMauldin commented on #191
Will the Go driver also do this when connecting to a SQL Cluster instance?

[2016-12-09 15:57] cdlhub commented on #61
For Geography type (lat, long), you can also get the value directly from the query:
[code]
Output:
[code]

[2016-12-09 16:03] cdlhub commented on #61
However, spatial support would be greatly appreciated. Thank you.

[2016-12-09 16:06] cdlhub commented on #61
@dimdin `STAsBinary` returns a `[]byte` array where elements are individual characters from the string returned by `STAsText`: `"P", "O", "I",...`

[2016-12-10 00:24] Arnavion commented on #169
`SetConnectionStringStyle` will set it on the global driver instance, yes? That will be a problem if the application has multiple connection strings in mixed format. Each call to `sql.Open` will need to be preceded by a call to `SetConnectionStringStyle`, and even then it won't be concurrent-safe.

[2016-12-10 00:25] arsing commented on #169
(Reposting from correct account. Sorry for spam :) )

`SetConnectionStringStyle` will set it on the global driver instance, yes? That will be a problem if the application has multiple connection strings in mixed format. Each call to `sql.Open` will need to be preceded by a call to `SetConnectionStringStyle`, and even then it won't be concurrent-safe.

[2016-12-10 00:32] kardianos commented on #169
I would be in favor of supporting a URL style DSN.
Code would look like:
[code]

This would be ambiguous in detection and because URL can generally encode most vars with url encoding, it should support the various password chars or re-implementing something different.

[2016-12-11 17:19] denisenkom commented on #169
Right, URL format would be great.  You don't have to implement encoder for it.  But there are only two common ways to specify connection strings for MSSQL server today and they are ODBC style connection strings or OLEDB style connection strings, so that would be a downside of URL format because it won't be a common format.

But we could possibly support multiple formats, e.g.:
[code]

[2016-12-11 17:23] kardianos commented on #169
Sounds good to me. But I would omit the sqlserver_ prefix as it should
still be clear without them.

On Sun, Dec 11, 2016, 09:19 denisenkom <notifications@github.com> wrote:

[2016-12-12 09:18] mikewilliamson commented on #191
I'm not sure how SQL Clusters are implemented.  The specific behaviour of the driver which implements AG connections is:

1. Resolve DNS host name into a list of IP addresses
2. Dial them all in parallel
3. Proceed with the first one that accepts a connection
4. Error if they all timeout

If a SQL Cluster connection is presented to clients in the same way as an AG connection, then it should work f

[2016-12-12 21:43] arsing commented on #169
Just to clarify, is this the decision for the formats?

- `"server=localhost;user id=someuser;password=foobar"` No prefix - parsed by splitting on semicolons
- `"sqlserver://server=localhost&user+id=someuser&password=foo%3Bbar"` Parsed using `url.ParseQuery` to get a `map [string] []string`. Also easy to create for users via `url.Values.Encode()`
- `"odbc:server=localhost;user id=someuser;password

[2016-12-12 21:46] kardianos commented on #169
@arsing The odbc and oledb look fine to me.

For the url parser, I would perhaps do: `sqlserver://user:pass@localhost/Instance?op1=foo&op2=fii`

[2016-12-12 23:25] arsing commented on #169
Got it. Thanks.

I'm waiting for some administrative work to finish up before I can contribute. Once that's done I'll send out a PR for the `odbc:` format and the URL format.

[2016-12-14 00:18] dpurfield opened #192 "need ability to escape ":" and "$" characters in query string"
I'm writing a utility to deploy SQL Schema and have ran into a couple issues around not being able to escape the parameter prefixes.  The following are a couple examples that demonstrate valid T-SQL that do not include any parameters.  However the parser is indicating they have parameters which causes errors.

ALTER AUTHORIZATION ON SCHEMA::Audit TO dbo;
GRANT EXECUTE ON SCHEMA::Audit TO MeterServ

[2016-12-14 18:50] kardianos opened #193 "Update Tx interface for go1.8"
Previously method was named DB.BeginContext, is now DB.BeginTx .
Need to update interface for go1.8 release support.

https://go.googlesource.com/go/+/d0501f1da9c54a8053940feeb86e1644ffaae522

[2016-12-14 18:54] kardianos commented on #192
I'm not seeing the issue right now, but I'd like to provide a way to ensure queries aren't processed at all. To be used in conjunction with go1.8 named parameters.

Would that solve your issue too?

[2016-12-14 21:07] dpurfield commented on #192
I'm not completely sure how the named parameters work in 1.8.  But I'm guessing the issue is still there.  Currently the parser is returning the number of parameters it finds in the query.  In any of the statements above the parser is now returning 1 as the count of parameters.  Only there really are not parameters those are just valid parameterless T-SQL statements.  In the first statement for ex

[2016-12-15 05:26] dpurfield commented on #192
Not that this shouldn't be address as others may run into it.  But I've taken a lesson from ADO .NET that actually is working very nicely and addresses a number of issues I had to code around.  I'm wrapping each batch in a call to sp_executeSQL:
	script := ""
	for _, qry := range batches {
		script += "exec sp_executesql N'" + strings.Replace(qry, "'", "''", -1) + "';\n"
	}
	_, err = db.Exec(scrip

[2016-12-15 05:26] #192 closed

[2016-12-15 10:20] AlekSi opened #194 "proposal: add CI"
It will make contributing easier.

You can use https://www.appveyor.com and this configuration as a basis:
* https://github.com/go-reform/reform/blob/v1-stable/appveyor.yml
* https://github.com/go-reform/reform/blob/v1-stable/.github/appveyor-prepare-mssql.ps1

[2016-12-15 10:25] AlekSi commented on #181
Also you can use Printf-like function instead of interface:
[code]

This will allow one to use fmt.Printf, log.Printf, logrus.Printf, t.Logf, etc.

[2016-12-15 16:05] LukeMauldin commented on #191
Thank you for the update.  I have tested the Go driver against a SQL 2016 availability group and compared the results against a C# application using .NET 4.6.2.  In the majority of cases, the C# application transitions seamlessly when the availability group fails over.  However, the Go driver always reports an error: `xxx:1433': dial tcp 138.254.135.78:1433: i/o timeout`
I have made the Go and C#

[2016-12-15 23:11] mirza-s commented on #193
Also in go1.8beta2 compilation fails because these methods are removed:

[code]

[2016-12-15 23:20] kardianos commented on #193
Yes, they were moved to the TxOptions struct.

[2016-12-16 05:33] #193 closed

[2016-12-16 16:51] blaskovicz opened #196 "Issue Inserting NULL Into Database"
I'm using this driver with mssql and sqlx.DB and have run into an issue where when I try to insert a null, it gets marshalled to the wrong column type during runtime and outputs the following failure:

### Failure Message:
[code]

### Reproducer code:

[code]

[2016-12-16 17:32] kardianos commented on #196
Are you able to reproduce this without sqlx or testify?

[2016-12-16 17:55] blaskovicz commented on #196
Refactored to use just `database/sql`, and  it still fails with the same error:

### Error
[code]

### Simplified Code
[code]

[2016-12-16 18:00] kardianos commented on #196
Thanks. This can be part of a unit test, easier for me to see the problem. I'll look into it.

[2016-12-16 18:21] dimdin commented on #196
A NULLTYPE = 0x1f is defined here: https://msdn.microsoft.com/en-us/library/dd341171.aspx
It can be used in makeParam (in mssql.go) instead of typeNVarChar

[2016-12-21 18:48] mikewilliamson commented on #191
I can't quite see how this would work given the architecture of the Go sql package.  The problem is that AG failover isn't _really_ seamless.  You have an open TCP connection to one server in the cluster, and if that server dies, you have to establish a new connection to another server, authenticate again, etc.  If you were in the middle of a transaction, you have to start over again from the begi

[2016-12-21 19:01] kardianos commented on #191
I think it would be possible; you would need to create a package private mapping per DSN that then would write down the current state of the remotes: remote 1 appears down , remote 2 looking good, use that first.

[2016-12-22 17:58] mikewilliamson commented on #191
I don't think caching the last-known-good server and trying it first would be any better than the current approach of always trying all servers in the cluster in parallel.  It would definitely be worse when a failover occurs.

In any case, this wouldn't address the central problem raised by @LukeMauldin   When the primary server in an AG cluster fails, a new primary is elected.  All clients have t

[2016-12-22 19:04] LukeMauldin commented on #191
Thank you for all of your responses. After much consideration, I agree that the retry logic should be contained entirely in the application.

[2016-12-22 19:04] #191 closed

[2016-12-28 22:30] kardianos opened #199 "proposal: add method to not pre-process queries"
go1.8 is almost out and with it comes support for named parameters. Prior to this go-mssqldb scanned the query for identifiers and replaced them with `@p1` positions to match the positions of the queries.

I propose doing both of the following:

 1. If a query is run as is today where all parameters are named, do not process the query and return `-1` in the paramCount.
 2. Provide an optional argu

[2017-01-02 06:20] GameXG opened #200 "Can be reproduced, conn.exec blocking, single-core cpu100%"
windows 7
go version go1.7.4 windows/amd64
go-mssqldb version aa91b9def474faafb2406c8b562ae1e0e1f89ea4

windows 2008 + mssql 2008

[code]

Reproduction:
Execute the above code to disable the mssql server network card when printing "exec ...".
Procexp You can see that the tcp connection to go to the mssql program will close after a few minutes, but the go program will not continue down the implemen

[2017-01-02 06:21] GameXG commented on #200
http://127.0.0.1:8088/debug/pprof/goroutine?debug=1
[code]

[2017-01-02 06:21] GameXG commented on #200
http://127.0.0.1:8088/debug/pprof/goroutine?debug=1
[code]

[2017-01-02 06:45] GameXG commented on #200
[pprof svg.zip](https://github.com/denisenkom/go-mssqldb/files/680468/pprof.svg.zip)

[2017-01-03 17:06] fisshy commented on #121
I have the same issue and it only occurs when I'm running it inside my docker container, but outside it runs as expected.

Has anyone solved this issue? Setting encrypt=disable doesn't solve it for Azure.

[2017-01-03 17:12] fisshy commented on #121
Ok, it works when I explicit tell it to pull golang:1.6 and not golang:latest.

[2017-01-03 17:16] kardianos commented on #121
@fisshy Is golang:latest go1.7 or go1.8? Is there a setup script and code I can run to reproduce this? If so I can spin up an azure database and test.

[2017-01-03 17:57] fisshy commented on #121
@kardianos Seems to be 1.7.4

I had a hard time reproduce it, it only occured when I used more then three columns in the select and the other columns where from an inner join / cross apply

Doesn't work
[code]

This work
[code]

[code]

[code]

[2017-01-05 00:00] rjtsdl opened #202 "Login Failed: doesn't work on Mac, however works on Ubuntu"
I have exactly same code like this, using master release up to today 1/4/2017
[code]

it works fine on Ubuntu
The version is
[code]

However it give error on Mac
[code]

My MacOS version
[code]

[2017-01-05 05:13] GameXG commented on #200
sTime： 2017-01-05 13:11:50.2728907 +0800 CST
2017/01/05 13:11:50 SET LOCK_TIMEOUT 1800
2017-01-05 13:11:50.2848914 +0800 CST exec...
2017/01/05 13:11:50 waitfor delay '00:00:30'
2017/01/05 13:12:20 ERROR: BeginRead failed read tcp 192.168.101.105:50032->192.
168.101.110:1433: i/o timeout
2017/01/05 13:12:39 ERROR: BeginRead failed read tcp 192.168.101.105:50032->192.
168.101.110:1433: wsarecv: A c

[2017-01-05 16:53] rjtsdl commented on #202
Turn out, i forget to give SQL server firewall access from my local IP. After editing the firewall setting. This error resolved.

[2017-01-05 16:53] #202 closed

[2017-01-06 18:14] kardianos commented on #199
The above will not work do to how Process happens well before any query params are sent.

[2017-01-07 02:08] 756445638 opened #206 "undefined: driver.ConnBeginTx"
I have this error on my windows10 host

# github.com/denisenkom/go-mssqldb
..\..\denisenkom\go-mssqldb\mssql_go18.go:21: undefined: driver.ConnBeginTx
..\..\denisenkom\go-mssqldb\mssql_go18.go:24: undefined: driver.TxOptions

what should I do to slove this problem!!

[2017-01-07 02:28] kardianos commented on #206
What does go version say?

On Fri, Jan 6, 2017, 18:08 radong <notifications@github.com> wrote:

[2017-01-07 05:27] #169 closed

[2017-01-07 05:52] kardianos commented on #206
I ask because go1.8 beta 1 won't work. Update to the latest and try again.

On Fri, Jan 6, 2017 at 6:28 PM Daniel Theophanes <kardianos@gmail.com>
wrote:

[2017-01-07 06:01] 756445638 commented on #206
My go version is "go1.8beta1 windows/amd64"!
what do you mean "up to latest", you code or go compiler!!
I have executed "git pull" command at your directory and excuted "go test",still I can see this error!!

[2017-01-07 06:03] kardianos commented on #206
Update to Go beta2 or master, or use go1.7.x.

[2017-01-07 06:03] #206 closed

[2017-01-07 21:52] #199 closed

[2017-01-07 21:54] kardianos opened #207 "data race in query cancel"
Ran with `go test -race -cpu 1,2,4`
[code]

[2017-01-08 00:38] kardianos commented on #200
@GameXG I was unable to reproduce your issue yet with your code verbatim or with a test setup. I have a referenced branch https://github.com/denisenkom/go-mssqldb/commit/51845db1e9fd75ab4e4b9651f4055af1006996ec that would be great if I could get a unit test to reproduce the behavior.

I think this approach could be useful in general for various testing conditions. It might be I need to throw a dif

[2017-01-08 00:40] kardianos commented on #200
Also, processResponse in token.go needs a rewrite at some point regardless.

[2017-01-10 07:18] kardianos opened #209 "proposal: add helper type for leveled logging"
Lots of code that looks like:
[code]

Rather then just:
[code]

I'm not suggesting adding a dep, but a quick 10 line struct + funcs could clean up some of the code a good bit.

[2017-01-10 07:19] kardianos commented on #181
This has been done.

[2017-01-10 07:19] #181 closed

[2017-01-10 23:30] vadimyer opened #210 "Ensure errors return driver.ErrBadConn rather than io.EOF if the connection fails."
Hey, this is probably just a question.

I'm having a simple database call with gorm like this:

[code]

The request takes some time to process (10-20 sec). I got an error from this call, the description is quite simple, only `EOF`. This happened **once**, can't reproduce again. I just wonder, what causes this error? Is it SQL server acting weird and closing the connection while proceeding the requ

[2017-01-10 23:38] kardianos commented on #210
What version of go-mssqldb were you using (revision)?

[2017-01-10 23:38] kardianos commented on #210
Regardless, this is unknown. It depends. This is hopefully resolved with a pending pull request, but if you can reproduce, that would also be great.

[2017-01-10 23:44] vadimyer commented on #210
I was using `aa91b9def474faafb2406c8b562ae1e0e1f89ea4`.

[2017-01-11 02:42] GameXG commented on #200
51845db1e9fd75ab4e4b9651f4055af1006996ec Still blocking, I will try to achieve unit testing.

[2017-01-11 03:38] GameXG commented on #200
I mean this version can still reproduce the problem, the current unit test all through, I check the unit test to achieve.

[2017-01-11 04:20] kardianos commented on #200
@GameXG I understand. I'm almost wondering if this disconnect error is specific to Windows. In any event I'll dig deeper and see what I can do. If you can reproduce it locally, maybe that is enough for now.

[2017-01-11 07:15] GameXG commented on #200
This is a logical issue, when reading sql results tcp read timeout, go-mssql library will try to issue a cancellation request and read the results.

The problem is that if the mssql server is powered down, the operating system on which the program is located can not be notified, the existing tcp connection is still available for a period of time, tcp is still writable (until the tcp buffer is full

[2017-01-11 09:56] huangpeizhi opened #211 "Access MSSQL SERVER error"
hi, denisenkom

I access MSSQL SERVER error.
![image](https://cloud.githubusercontent.com/assets/19602075/21843630/ac9c63d0-d826-11e6-8e59-96dff95c29cc.png)

[code]

I know less about MSQL,, please help!

[2017-01-11 11:00] GameXG commented on #200
reproduce:

https://github.com/denisenkom/go-mssqldb/pull/212

[2017-01-11 11:02] GameXG commented on #200
https://github.com/denisenkom/go-mssqldb/pull/208

The problem has been solved.
However, there is a problem with unit testing, unit testing and can not reproduce this bug.

[2017-01-11 15:36] kardianos commented on #211
Hi, to me it looks like it might be a username / password issue.
What happens if you use a URL builder rather then string substitution? Something like this:
[code]

[2017-01-11 19:07] #200 closed

[2017-01-11 19:18] vadimyer commented on #210
It happened again. To replicate it, I just left my app alone for like 12+ hours, it was completely inactive and didn't make any requests to SQL server. Then I ran a command that does the request, and got an `EOF`. Probably the connection was dead/closed on server side.

[2017-01-11 19:22] kardianos commented on #103
Timed out.

[2017-01-11 19:22] #103 closed

[2017-01-11 19:26] kardianos commented on #210
Thanks! I suspect we need to return `driver.ErrBadConn` somewhere rather than `io.EOF`.

[2017-01-11 19:28] vadimyer commented on #210
Yeah no problem, but what can I do to avoid such problem in future?

[2017-01-11 19:30] kardianos commented on #100
Timeout. If this is still an issue please open a new issue.

[2017-01-11 19:30] #100 closed

[2017-01-11 20:01] kardianos commented on #207
I tried to correct this with a Mutex, but the `go test -short` time went from 1.5s to 6s, so I'm thinking I'll try a different method. Probably need to write the attention from within normal message loop.

[2017-01-11 20:43] kardianos commented on #210
You either wait till I or someone else fixes it or you can fix it and submit a pull request I suppose. I do want to fix it in the next week or two.

Ideally I would add a test case for this as well that is triggered quicker.

[2017-01-11 20:47] vadimyer commented on #210
Oh, I thought you meant this should return `driver.ErrBadConn` instead of `EOF`, no? It would still be an error, so thus I was wondering how you could avoid it. If that's not what you meant, than I can try to look at it, but I'm totally not familiar with how the driver works.

[2017-01-11 20:52] kardianos commented on #210
If the driver returns driver.ErrBadConn, the sql layer you use will try again, this time with a good connection. Optionally you could also adjust the sql.DB params, specifically, if you sent `DB.SetConnMaxLifetime` to a shorter time span it may resolve this to you (I'm thinking 5 minutes or less).

[2017-01-11 20:58] vadimyer commented on #210
Ok that's clear, thanks!
If I'd have some free time for this, I'll make a PR, not promising anything though =)

[2017-01-12 02:31] huangpeizhi commented on #211
Hi, @kardianos

Run same errors

![image](https://cloud.githubusercontent.com/assets/19602075/21874726/c4858716-d8b1-11e6-8f56-d513333f9277.png)

- ERROR INFO:
[code]

[2017-01-12 16:18] fabotronix opened #214 "EOF error on queries with big parameter values and enabled encryption"
Hi,

when I try to execute a query with a larger parameter, the query fails with an EOF error.

But if I disable the encryption the my query succeeds. Also when the length of parameter in my example is decreased from 1636 to 1635 the query succeeds.

I can reproduce this issue with the attached code against a mssql-server-linux running on docker:
[code]
sample output:

2017/01/12 17:02:36 initiati

[2017-01-12 16:32] kardianos commented on #214
What is your `go version` and git revision of this package?

[2017-01-12 16:43] fabotronix commented on #214
go version go1.7 linux/amd64

I am using revision 370263e74ba8f78a6a3fa15202e934f1be4eccd4 of your package.

[2017-01-12 17:56] kardianos commented on #214
For own ref: could be we are not reading the N bytes returned from read before handling EOF.

[2017-01-13 09:34] mjdavies opened #215 "proposal: tag releases"
Hi there

Loving the software!!

Any chance you could create a tag or a release version so we can stipulate what version to install with govendor?

So we could do something like this?

govendor get github.com/denisenkom/go-mssqldb@v=1.0

https://github.com/kardianos/govendor

We're currently pulling down master so at the mercy of any changes to master.

Thanks in advance

Matt

[2017-01-13 17:23] kardianos commented on #215
Hi Matt, I don't think we are ready to tag a release yet. I'm also not sure if we will tag a release in the future, but we'll see.

govendor also supports using revisions to specify package version if you'd like.

[2017-01-14 11:21] mjdavies commented on #215
Hi Kardianos

Thanks for getting back to me.

I worked out that I could point govendor at a commit point in git just after I added this request :-)

A release would be even cooler, but as we can use the commit point there's no urgent need.

Thanks again

Matt

[2017-01-17 17:39] #207 closed

[2017-01-18 23:25] rjtsdl opened #217 "connection reset by peer just after sql.Open and Ping"
[code]

I got err when i try to use si.db

              Op: "read",
              Net: "tcp",
              Source: {
                  IP: [10, 106, 224, 37],
                  Port: 51083,
                  Zone: "",
              },
             Addr: {
                  IP: [13, 66, 226, 202],
                  Port: 1433,
                  Zone: "",
              },
              Err: {Sysca

[2017-01-18 23:31] kardianos commented on #217
What's the driver revision, go version, and SQL Server Version?
What is the platform (Windows, Linux) of server and client?

[2017-01-18 23:56] rjtsdl commented on #217
Go version: go version go1.7.4 darwin/amd64
Go-mssqldb version: "revision": "e8c056fef6cc06e6e77319583ca95c7ce5f65e4b"
client platform: macOS
server platform: Azure SQL Database V12

[2017-01-19 00:03] kardianos commented on #217
Please update to the latest version of go-mssqldb and try again before we go further.

[2017-01-19 00:11] rjtsdl commented on #217
Just update to the latest of go-mssqldb: "revision": "9e40d9d5d325edfaa84d3374bfde6e1adce02d58"

The issue stands

[2017-01-19 00:19] kardianos commented on #217
Thanks for testing. I'll look into this though I don't have time right away.

[2017-01-24 10:08] Fank commented on #217
Got the same issue:
go version go1.7.4 linux/amd64
Go-mssqldb version: "revision": "9e40d9d5d325edfaa84d3374bfde6e1adce02d58"
client platform: Ubuntu 16.04.1 LTS
server platform: SQL Server 2008 R2
connected via URL format

[code]

[2017-02-03 12:36] GameXG opened #218 "When the database does not exist when the connection should be established to fail, rather than using the default database."
Just met a fault, sql database failure to restart, go after all the procedures sql operation has been thrown table does not exist error, restart the program after the normal.

Check found that the cause of the failure is:
1.sql database failure to restart
2.go program re-establish the connection, and according to the connection string database set the current database
3. But the target database is

[2017-02-03 16:21] vallard opened #219 "simulate runas"
Awesome library, thank you so much!
I need to use the /runas command to attach to the database as there are different domains my systems are on.  Is there a way to do this with this library?  (short of compiling the code and using /runas <go binary>)

Thanks!

[2017-02-05 00:18] VimalKumarS opened #220 "Connection drop by remote server, Windows 7"
hi

I am getting error, connection drop by remote server when using db.query (..) , when trying to connect from windows machine to sql server 2012.
Any possible hint ? what could be the issue.

thanks
Vimal

[2017-02-05 04:18] kardianos commented on #220
Are you using encryption? SQL auth or Windows authentication?

[2017-02-05 17:22] VimalKumarS commented on #220
Yes using Windows Authentication.
Though in the connection string i have to provide user name and password to connect to DB and ping it.
Encryption i have set to disable.
This happen when connect to to remote DB, but local host it work perfectly.

[2017-02-14 00:22] adramalech commented on #211
I receive the same error against 2005 SQL Server.  As soon as I targeted against a mirrored version of the database on 2008 version it worked just fine.  I am wondering if 2005 is no longer supported maybe update the readme content and update to say support 2008+?

I  have my sql.DB* initialization as such:

    query := url.Values{}
    query.Add("database", "<dbNameHere>")
    query.Add("encrypt

[2017-02-14 15:08] kardianos commented on #211
@huangpeizhi What version of SQL Server are you trying to access?

[2017-02-15 20:17] infogulch opened #221 "Get SQL Server Messages / PRINT command"
SQL Server supports the [PRINT](https://msdn.microsoft.com/en-us/library/ms176047.aspx?f=255&MSPPError=-2147217396) command which prints out a string. This is then available to the client, e.g. in SSMS it appears in the Messages tab.

Does the driver offer any way to access these?

[2017-02-16 13:59] clns commented on #163
Not sure if this helps, but specifying the host machine as IP instead of hostname in the named instance works for me. Example:

Instead of this (which doesn't work):

[code]

I'm using this (which does work):

[code]

[2017-02-24 10:02] winsuney opened #222 "connection reset by peer"
when i connect,error like this:
"Prepare failed:Login error: read tcp 192.168.3.66:55027->192.168.3.253:1433: read: connection reset by peer"
my sql server version is  server2008r2   10.50.1600.1;

[2017-02-25 18:46] joseluisbsa opened #223 "Invalid object name dbo.table"
Hi everybody.

I don't know more what I can do.

What's wrong with my code?

`
        package main

    import (
	_ "github.com/denisenkom/go-mssqldb"
	"database/sql"
 	"log"
 	"fmt"
    )

    func main() {
	connectionDB()
    }

    func connectionDB() {

    log.Println("Main:")

    log.Println("Opening")

    db, err := sql.Open("mssql", "server=pwbt.database.windows.net;Initial Catalog=dbo;

[2017-02-25 18:55] joseluisbsa commented on #223
![select-golang](https://cloud.githubusercontent.com/assets/26029170/23333889/c8589840-fb72-11e6-9928-4be832a623c3.PNG)

[2017-02-25 19:18] kardianos commented on #223
Looks like you aren't setting the database name correctly and it is
defaulting to the master database. That would be my guess.

On Sat, Feb 25, 2017 at 10:55 AM Joseph <notifications@github.com> wrote:

[2017-02-25 20:24] joseluisbsa commented on #223
@kardianos thanks so much!

You're right! I add the "database=PWBT" on connect string and it works!

It look like this way:
`db, err := sql.Open("mssql", "server=pwbt.database.windows.net;user id=admin-jose;password=password;database=PWBT;port=1433")`

[2017-02-25 20:57] #223 closed

[2017-02-27 01:25] winsuney commented on #217
Got the same issue:
go version go1.8 darwin/amd64
Go-mssqldb version: latest
client platform: macOS
server platform: SQL Server 2008 R2

[2017-02-27 01:36] kardianos commented on #217
Is encryption turned on?

[2017-02-27 06:28] winsuney commented on #217
I think the connect error reason is the Sql Server version,because I can connect to another sql server use same method,but the two sql server are all SQL Server 2008 R2. why this one can not?

[2017-02-27 06:30] #222 closed

[2017-03-01 16:49] andreynering opened #225 "[Feature Request] Configuration to return date/time types in local time"
This driver return all times in UTC. I propose add an option to the connection string tat would return times in local time instead of UTC.

[code]

[2017-03-03 18:07] Fank commented on #217
@kardianos I can confirm as @winsuney commented its an issue with the older sql server version, we updated it and it works.

Before update (not working)
[code]

After update (working)
[code]

[2017-03-07 07:07] geosoft1 opened #229 "go get github.com/denisenkom/go-mssqldb error"
`go get github.com/denisenkom/go-mssqldb` give the following error

[code]

the package is still downloaded. i used this workaround until the issue is resolved:

- i removed from `github.com/denisenkom/go-mssqldb` `bulkcopy.go`,`bulkcopy_sql.go`,`bulkcopy_test.go`
- in mssql.go i commented the following lines (209-211)

[code]

[2017-03-07 07:19] wingyplus commented on #229
I already send pr https://github.com/denisenkom/go-mssqldb/pull/228 to fix this issue.

[2017-03-07 07:30] wingyplus commented on #194
I interest this proposal.

[2017-03-07 07:33] AlekSi commented on #229
Related to #194.

[2017-03-07 08:17] AlekSi commented on #194
You may also want to use [`microsoft/mssql-server-linux`](https://hub.docker.com/r/microsoft/mssql-server-linux/) Docker image for Linux.

[2017-03-07 09:52] Fank commented on #229
same here

[2017-03-07 14:44] adomokos commented on #229
Found it as well. `git reset --hard 9e40d9d5d325edfaa84d3374bfde6e1adce02d58` backed out the latest commits.

[2017-03-07 17:30] gaspardle commented on #194
Here's a configuration for go-mssql : https://github.com/gaspardle/go-mssqldb/blob/ci/appveyor.yml

[2017-03-08 01:50] wingyplus commented on #229
@adomokos I fix it in #228. Please try it.

Thanks

[2017-03-08 01:53] wingyplus commented on #194
@gaspardle Great. I never use appveyor before. Can it run on every pull request?

[2017-03-08 15:26] GameXG commented on #218
Sorry, my English is not good.

The current database settings are login and account password provided to the mssq server (login package), but in the specified database does not exist when the database does not prevent the landing, but provides an error. Landing as usual success, but the current database to the default database.

The problem lies in the mssqldb landing in the judge whether the succ

[2017-03-08 17:34] kardianos commented on #218
Sweet! Thanks for the detailed steps!

[2017-03-08 17:35] #218 closed

[2017-03-08 17:36] kardianos commented on #194
Yes, it can, it just needs to be configured in the repo to do so.

[2017-03-08 17:45] kardianos opened #232 "bulkcopy: fix bulkcopy for go1.8"
https://ci.appveyor.com/project/kardianos/go-mssqldb

[code]

[2017-03-08 17:47] kardianos commented on #194
I've merged the appveyor yaml in. https://ci.appveyor.com/project/kardianos/go-mssqldb/build/1.0.1

At this point we need to:

 * Fix the bulk copy test/code for go1.8
 * Configure the repo to notify appveyor of changes.
 * Probably add a badge to the readme to point to the CI env.

[2017-03-08 18:27] #232 closed

[2017-03-08 21:53] zhensun commented on #217
I got the same error when connecting to SQL Server 2008 R2 (RTM). Works fine with SQL Server 2014 though.

Any plan to add support for SQL Server 2008 R2 (RTM)?

Thanks!

[2017-03-14 02:52] zzwind opened #235 "wsarecv: An existing connection was forcibly closed by the remote host."
my environment is win10 ,and my sqlserver on a remote server,
when i run the example with the right user,password,port.
but cann't connect success.
i'm using windows auth,and i connected two sqlserver instance are all faild.
is this a bug? or my person problem?

[2017-03-15 10:05] nemec784 commented on #196
Any news?

[2017-03-15 14:35] kardianos commented on #196
Thanks for the ping. This fell of my radar. Assigning to myself now.

[2017-03-20 19:30] khannz commented on #235
I'm joining this issue since it recently become mine too.

- Code executes locally on dev box with win10.
- `SQL Server 11.0.5058` instance is remote
- `User id`, `password`, `port` and even `ServerSPN` are correct

**Addition:** local login works great, with Windows Auth problem is same as @zzwind reported:

[code]

[2017-03-23 18:57] rjtsdl commented on #217
I found a way to solve this issue.

Before (not working), i was using
[code]

Now (working), i am using
[code]

And my setup about versions, doesn't change.

[2017-03-23 22:49] AntonKrutikov opened #237 "Probably strange connection leak when Query and Exec"
I have strange issue with golang sql and probably your driver.

My code part:

    func Auth(username string, password string, remote_ip string, user_agent string) (string, User, error) {
    var token string
    var user = User{}

    query := `exec dbo.sp_get_user ?,?`

    rows, err := DB.Query(query, username, password)
    if err != nil {
        return token, user, err
    }
    defer rows.C

[2017-03-23 22:53] kardianos commented on #237
Unsure if you have a problem.

A connection leak means connection to the database grows the more you use it. What you are seeing looks like connection pooling, which is what database/sql is designed to do; keep connections alive so they can be reused quickly later.

Can you confirm one way or another?

[2017-03-23 23:09] AntonKrutikov commented on #237
@kardianos Thank you for reply. I think it's some kind of pooling, but I don't understand why it different for `Exec` and `Query`.

For example in this app I have more queries like `exec dbo.sp_cards @id=?` and `exec dbo.sp_cards_detail @id=?` which by logic must create prepared stmt for reusing, but they not create separate connections (in my app without `Auth` which only using Exec not Query - s

[2017-03-23 23:48] kardianos commented on #237
If you `defer rows.Close` the rows will be closed *after* the end of the function. Does that help at all? Sorry, shooting in the dark here.

[2017-03-27 17:01] casamm opened #238 "sanitization for the query"
How the library supports the sanitization against SQL injection.

[code]

[2017-03-27 17:17] dimdin commented on #238
You can use parameters. e.g.
[code]

[2017-03-27 17:20] casamm commented on #238
I'm getting `too many arguments in call to conn.Prepare`

[2017-03-27 19:42] dimdin commented on #238
oops I am sorry, the correct usage is:
[code]

see this tutorial for more examples: http://go-database-sql.org/

[2017-03-27 19:49] casamm commented on #238
Thanks.

[2017-03-27 19:49] #238 closed

[2017-03-28 00:55] LuisBosquez opened #239 "Enable download count for go package?"
Is there any way to get the download numbers for this connector?

I believe there is a setting to enable keeping track of the downloads from github. Would it be possible to enable it?

[2017-03-28 01:01] LuisBosquez opened #240 "SQL Server + go-mssqldb tutorials"
I wrote a set of tutorials to use go-mssqldb with SQL Server in a "Getting Started" context. I would be great to get your feedback on it :)

•	[Go + Ubuntu + SQL Server](https://www.microsoft.com/en-us/sql-server/developer-get-started/go-ubuntu)
•	[Go + RHEL + SQL Server](https://www.microsoft.com/en-us/sql-server/developer-get-started/go-rhel)
•	[Go + SLES + SQL Server](https://www.microsoft.com/

[2017-03-28 05:19] kardianos commented on #240
Hi Luis,

Thanks for the write ups. Please for the sake that is all good in this world, don't use string interning without escaping strings directly into your SQL. At least use `strings.Replace(v1, "'", "''", -1)`, or better yet use parameters. I've integrated with too many products where I'm told, "oh, you need to get rid of your single quote chars or our system will blow up. I die a little insid

[2017-03-28 05:26] kardianos commented on #239
Not that I'm aware of. Internally there is a github clone count, right now I think this driver is around 1.4k unique clones per months. But many people will also simply clone once, then keep the source code in the needed repo or in GOPATH. Other people won't store the source locally and count a clone for just the CI build and each dev. So while it isn't without merit, I wouldn't put too much stock

[2017-03-28 05:26] kardianos commented on #229
Aged out.

[2017-03-28 05:26] #229 closed

[2017-03-28 05:28] kardianos commented on #221
Right now, not that I'm aware of.

However, this is something I would personally like to enable in the future.

[2017-03-28 13:59] infogulch commented on #221
Yes this would be nice to have.

I'm not very familiar with SQL Server internals. Do you know of any resources that would help someone implement this feature?

I found a (StackOverflow answer)[0] that roughly describes how messages are transmitted, and apparently in .NET you're supposed to create a [SqlInfoMessageEventHandler Delegate](1) to handle the InfoMessage event of a SqlConnection. These d

[2017-03-28 14:02] kardianos commented on #221
Oh, the driver already receives these messages. It is more of a question of `database/sql` API and how to expose them then anything.

[2017-03-28 14:15] infogulch commented on #221
Ah, got it. So we need a proposal for another extension to `database/sql`. Does the raw driver expose an interface to access them now that such a proposal could build off of?

[2017-03-28 16:55] TaylorBarrick opened #242 "NamedArg @ notation"
The package sql.NamedArg docs show the use of the @param1 style of NamedArgs, and the go-mssqldb readme also mentions the @ notation , but it is not accepted as an input to a query.

It seems that the parser.go parseNormal func is skipping the '@' character.  When adding it as an option, it solves certain conditions, but gets picked up when testing queries with T-SQL local variables using the @ pr

[2017-03-28 17:07] kardianos commented on #242
I don't fully understand your question. But does this example help?
[code]

[2017-03-28 21:29] TaylorBarrick commented on #242
So given these examples:

	if _, err = db.QueryContext(ctx, "Select [name] from sys.tables where max_column_id_used > $val;", sql.Named("val", 9)); err != nil {
		panic(err)
	}
	fmt.Println("$ OK")

	if _, err = db.QueryContext(ctx, "Select [name] from sys.tables where max_column_id_used > :val;", sql.Named("val", 9)); err != nil {
		panic(err)
	}
	fmt.Println(": OK")

	if _, err = db.QueryContext

[2017-03-28 21:45] dimdin commented on #242
You can use "sqlserver" or "mssql" for driver name, but there is a difference:
"mssql" expects positional parameters and translates the ? ?n $n :n parameters to @p1, @p2, etc.
"sqlserver" does not translate parameters, so you can use named parameters as @name

[2017-03-28 21:56] kardianos commented on #242
[code]

[2017-03-29 00:01] TaylorBarrick commented on #242
Ah excellent, that works.  My mistake, thanks!

[2017-03-29 00:01] #242 closed

[2017-03-31 14:50] jn185090 opened #244 "How to execute a stored procedure?"
Hi! i have a stored procedure called sp_Insert_xxxx, it receives 12 parameters. How can i do to execute it?

[2017-03-31 23:19] calvn commented on #192
@dpurfield We are also encountering this issue with statements like `GRANT SELECT ON SCHEMA::dbo TO [foo]`. This would be the error that sql would return:

[code]

[2017-03-31 23:23] kardianos commented on #192
I would recommend you migrate your queries to using sqlserver rather the mssql as the driver name.

[2017-03-31 23:59] calvn commented on #192
Changing the driver to sqlserver solved the issue, thanks!

[2017-04-03 13:18] AlekSi commented on #194
Why URL contains `kardianos`, not `denisenkom`?

[2017-04-03 19:06] kardianos commented on #194
@AlekSi Because I set it up.

@denisenkom : Could we touch bases to finish setting up the CI? It is ready to go if you want to use your own appveyor account as well (free for open source projects).

[2017-04-03 19:28] kardianos opened #245 "support decimals: planning"
Decide how to support decimals.

Depends on pending CL for go1.9: https://go-review.googlesource.com/c/38533/

I propose using and supporting at least initially https://godoc.org/github.com/cockroachdb/apd (as well as converting from ints, floats, and strings).

[2017-04-04 14:18] jackielii commented on #221
I use the "log=63" in the connection string to print out the messages, not sure it's what you want?

[2017-04-04 14:20] Dharam84 commented on #78
It seems [https://github.com/golang/go/issues/18079](url) this is still open ,
@MarkSonghurst  can you help me with gofreetds( would be better if you can provide sample code) or any other alternative to support output parameters.

[2017-04-04 14:41] kardianos commented on #221
Please see the proposal on issue https://github.com/golang/go/issues/19055 and the proposed CL https://golang.org/cl/39355 .  This would allow dequeuing messages / print commands.

Please comment as the the suitability of this API.

[2017-04-04 14:43] kardianos commented on #78
There is now a proposed CL https://golang.org/cl/38533 that would allow output params. Please comment on any issue you find. This would go through with go1.9.

[2017-04-04 14:51] MarkSonghurst commented on #78
@Dharam84 https://github.com/minus5/gofreetds

[2017-04-04 14:53] Dharam84 commented on #78
**Thanks kardianos** , can you please recommend an alternative to make it working currently...
**@dimdin ,** i cant make this working "exec DoSomething @in1, @out1, @in2, @out2;
select @out1, @out2;" can you help with a sample , though i cant afford to tweak the sp as it's been used by multiple systesm.

[2017-04-04 15:00] kardianos commented on #78
@Dharam84 Do you mean something like:
[code]
Where `@in1` and `@in2` were passed in to the query with `Named("in1", value), Named("in2", value2)`
.

[2017-04-04 15:25] infogulch commented on #221
This looks great thanks for linking it.

[2017-04-04 16:20] Dharam84 commented on #78
@kardianos ,ohh my bad , was thinking it as a way by which i can pass output parameter through mssql drivers, but it seems to be a SP change , which is not a option to me ....

[2017-04-04 17:03] kardianos commented on #78
Yeah, I know it isn't always an option. I'm hoping we can support output params in go1.9 (or before if you vendor database/sql yourself after the CL goes through).

[2017-04-07 21:58] kardianos commented on #244
db.QueryContext(ctx, `exec sp_Insert_xxxx @Q1 @Q2 ...`, Named("Q1", v1), Named("Q2", v2))

[2017-04-07 21:58] #244 closed

[2017-04-12 03:17] xkeyideal opened #248 "odbc sqlserver connect error No connection could be made because the target machine actively refused it"
odbc & sqlserver Error Info :
Unable to open tcp connection with host 'localhost:1433': dial tcp [::1]:1433: connectex: No connection could be made because the target machine actively refused it.

ado just add encrypt=disable can connect success

windows 10 OS
golang 1.7.4

[2017-04-12 05:43] simnalamburt commented on #96
I'm working on this issue at [simnalamburt/go-mssqldb](https://github.com/simnalamburt/go-mssqldb).

[2017-04-12 17:24] kardianos commented on #96
I'm assuming you are also going to plug into the https://github.com/denisenkom/go-mssqldb/blob/8e6115d5172422909579b49fd1fe0f7591416e4b/tds.go#L24
SQL Server Browser to automatically choose named pipes?

[2017-04-12 18:02] dnp1 opened #249 "Can't use temporary tables"
Consider the following code:
[code]
I'm getting the error **mssql: Invalid object name '#fah_transaction_installments'**

Is this really the expected?

[2017-04-12 18:14] kardianos commented on #249
Can you check for errors?

[2017-04-12 19:06] daniloanp commented on #249
Actually the code below works:

[code]

But this other code ends with:  "mssql: Invalid object name '#b'.":

[code]

[2017-04-12 19:15] kardianos commented on #249
I don't think that will compile... in the Named, you probably want a string as a value, see below:
`sql.Named("named", "'%foo%'")`

Also, If you do early returns you can drop the else.

[2017-04-12 19:22] dimdin commented on #249
In the SQL statement use `@named` instead of `:named`

[2017-04-12 19:24] daniloanp commented on #249
@kardianos Now it compiled.

@dimdin When I replace :named to @named I get "sql: statement expects 0 inputs; got 1"

[2017-04-12 19:26] dimdin commented on #249
To use named parameters you must have "sqlserver" for the driver name instead of "mssql"

[2017-04-12 19:29] daniloanp commented on #249
Ok, now the named parameter using @ works (before It was working with ":")

Again, the "mssql: Invalid object name '#b'." occurs when I use parameters.

[2017-04-12 19:34] dimdin commented on #249
The driver is using the sp_executesql to execute SQL statements with parameters, without parameters the SQL statement is executed directly. Perhaps the temporary table #b is dropped after sp_executesql finishes.

[2017-04-12 19:50] daniloanp commented on #249
You're right, @dimdin.

But  about the driver, what should be the expected behaviour?

http://stackoverflow.com/questions/8040105/execute-sp-executesql-for-select-into-table-but-cant-select-out-temp-table-da

[2017-04-13 00:39] simnalamburt commented on #96
@kardianos Actually, I was editting `parseConnectParams` function. https://github.com/simnalamburt/go-mssqldb/commit/4ef9cb6d6

I'll let users to explicitly choose the protocol, rather than automatic detection. ADO driver does automatically choose protocol but it was misleading for many users.

[2017-04-14 11:05] bsandhu commented on #177
Hi,
Is this issue Win only? Any pointers on Linux kerberos auth support?

[2017-04-14 12:03] heretic13 commented on #177
windows specific error.

[2017-04-14 17:13] kardianos opened #251 "Prove two new go.19 CLs"
There are two new CLs in the works:
https://go-review.googlesource.com/c/38533/ to support custom arguments (parameters)
https://go-review.googlesource.com/c/39355/ to support a message loop / multiple row counts and msgs

Custom arguments should be easy. Just define a new method on the connection that verifies the driver type. If OUTPUT parameters are supported, the values should be inspected to

[2017-04-14 17:14] kardianos commented on #251
PG issue: https://github.com/lib/pq/issues/601

[2017-04-14 17:47] rjtsdl opened #252 "Save large blob as varchar(max) raise "read: connection reset by peer" error"
## What the problem is?
I am writing an application layer on top database/sql and go-mssqldb. There is a need to **insert or update** entry. So in one query, i have both insert and update, things like this.
[code]

I tried to save body as **varchar(max)**, because it provides better readability. However, in some certain set up, it raises "read: connection reset by peer". The error is like below
[c

[2017-04-14 17:56] rjtsdl commented on #217
I will close the issue. As i found way to solve the scenario i described.

[2017-04-14 17:56] #217 closed

[2017-04-17 02:05] viney opened #253 "read: connection reset by peer"
go run simple.go

password:123456
 port:1433
 server:192.168.1.68
 user:sa
 connString:server=192.168.1.68;user id=sa;password=123456;port=1433
2017/04/17 10:02:42 Prepare failed:Login error: read tcp 192.168.1.63:49462->192.168.1.68:1433: read: connection reset by peer
exit status 1

use Navicat Premium is success

[2017-04-17 10:19] viney commented on #253
Add "encrypt=disable" parameter to fix this issue.

close

[2017-04-17 10:19] #253 closed

[2017-04-17 22:03] casamm opened #254 "Execute Multiple queries"
Is it possible to execute multiple sql queries in a single execution?

Passing auto generated Id to the referenced table in the following example.

[code]

Connection String is as follows

`var ConnectionString = fmt.Sprintf("server=%s;user id=%s;password=%s;database=%s;port=%d", "host, "username", "pass", "database", 1433)`

[2017-04-17 23:09] kardianos commented on #254
Try it. yes.
With go1.8 you can even select multiple queries in a single query text.

[2017-04-17 23:53] casamm commented on #254
actually I should have been clear, it's throwing an error, so wondering if there's something wrong with the code. I'm using v 1.8.

[2017-04-17 23:57] kardianos commented on #254
Okay, what's the error?

[2017-04-19 15:34] casamm commented on #254
Sorry for delay on this... The error is

    mssql: Incorrect syntax near ')'.

[2017-04-19 16:17] kardianos commented on #254
You have a syntax error.

You could try
`INSERT INTO CHAT(TO, FROM, MESSAGE_ID) VALUES(?, ?, (SELECT SCOPE_IDENTITY()))`
or declare a temp var or similar.

Not a bug in this driver.

[2017-04-19 16:17] #254 closed

[2017-04-19 16:37] casamm commented on #254
Thanks @kardianos, not only that I had to quote To and From since they are reserved words. For reference.

`INSERT` INTO CHAT([TO], [FROM], MESSAGE_ID) VALUES(?, ?, (SELECT SCOPE_IDENTITY()))

Thanks again for your help.

[2017-04-20 19:21] LuisBosquez opened #256 "Executing a T-SQL file from Go?"
Is there any way to run a .sql file from Go and execute using go-mssqldb?

I am looking for something like a function that will receive a path to a file and execute the T-SQL on an existing connection.

[2017-04-20 19:40] kardianos commented on #256
Sure, read a file with ioutil, and execute the content.

If the file contains GO statements, you might need something like: https://godoc.org/bitbucket.org/kardianos/rdb/ms/batch#BatchSplitSql (in the future plan to have a similar function in this package).

[2017-04-20 19:40] #256 closed

[2017-04-20 19:47] LuisBosquez commented on #256
thanks @kardianos!

[2017-04-20 19:48] LuisBosquez commented on #240
I will get back to this soon. I was on the road for the past couple of weeks. Thanks for the suggestions! Also, I can definitely get you Azure credits to debug.

[2017-04-20 19:53] kardianos commented on #256
Actually, let me get those into this driver sooner than later. Please watch https://github.com/denisenkom/go-mssqldb/issues/186 for more details.

[2017-04-20 19:59] dimdin commented on #186
@kardianos note that the syntax of the go statement is
[code]
Please see https://docs.microsoft.com/en-us/sql/t-sql/language-elements/sql-server-utilities-statements-go

[2017-04-20 20:02] kardianos commented on #186
It is indeed. In that package I took a shortcut because I never personally use the [count]. I will do a more correct parsing before submitting to this repo.

[2017-04-20 20:05] dimdin commented on #186
I cannot find the syntax for the isql/osql/sqlcmd scripts. I know the go and \ syntax. Backslash is documented here https://docs.microsoft.com/en-us/sql/t-sql/language-elements/sql-server-utilities-statements-backslash

[2017-04-21 18:59] LuisBosquez commented on #256
What function would you recommend to execute the TSQL? The file would contain multiple lines of non-query statements (no result sets will be read from them).

[2017-04-23 02:21] kardianos commented on #186
@dimdin I've fuzzed the associated PR, it should be good to go. Let me know/merge if you think it is good to go.

[2017-04-23 12:45] #186 closed

[2017-04-23 12:53] kardianos commented on #256
There is a new sub package called batch with a Split function that will split on GO and escape newlines with backslash in strings.

There is no helper function to read the file so wote a short helper function using io/ioutil

[2017-04-24 16:27] johnweldon opened #258 "$action keyword in MERGE OUTPUT clause broken"
`$action` is treated as a named parameter and thus doesn't work in an `OUTPUT` clause of a `MERGE` statement.

At the end of this section is the documentation for `$action`:

https://docs.microsoft.com/en-us/sql/t-sql/queries/output-clause-transact-sql#arguments

[2017-04-24 16:47] kardianos commented on #258
I'm assuming you're using sql.Open("mssql", "DSN").
What you want is sql.Open("sqlserver", "DSN"). This will not do parameter replacement at all.

[2017-04-24 16:51] kardianos opened #260 "proposal: remove almost all mention of "mssql" driver name"
Processing the query correctly and replacing parameters is tough. We previously decided against a PR to improve matching for "::" if memory serves. There is a new request and another issue with matching $action.
https://github.com/denisenkom/go-mssqldb/issues/258

Let's update the README and docs and remove almost all mention of "mssql" as a driver name.
In the one place we mention it, we should i

[2017-04-24 16:51] johnweldon commented on #258
Ah, interesting. Wouldn't this still be a bug with "mssql" though?

[2017-04-24 16:55] kardianos commented on #258
Yes. The question is, is mssql supported? I've opened an issue (linked above) to decide that. Probably a question for @dimdin or @denisenkom .

[2017-04-24 17:15] dimdin commented on #260
I agree to update the README leaving only "sqlserver" and examples with @ parameters only. Let's also add an upgrade note with a reference to a wiki page or a new md file that contains howto instructions for converting "mssql" style to "sqlserver" style sql and parameters; move there the old "mssql" documentation mentioning to use the new style, the problems with old style (:: and $ conflict with

[2017-04-24 18:57] Ragnaroek commented on #214
It doesn't seem to be a sole issues with big parameters. Some queries seem to result in EOFs.

[2017-04-24 20:25] LuisBosquez opened #261 "Any way to declare and use a T-SQL variable between to db calls?"
I'm trying to achieve the following:

- I want to declare a Table Type variable that I can insert values into by using the following syntax:
[code]
This is easy to do with go-mssqldb:
[code]
- Then afterwards, I'd like to use that declared variable to send it to a stored procedure.
[code]
I tried using the following:
[code]

But then I get an error saying that the scalar variable `@table` isn't de

[2017-04-24 21:04] kardianos commented on #261
There are a few issues here. One is that "@" vars are batch scoped. That means that they are limited to the scope of your current SQL text, within the bounds of "GO" statements. The second is that until go1.9 (next release) there is no way to pull a single connection from the driver and use it to preserve session. This was just merged this morning into the go1.9 tree, but that won't be available f

[2017-04-26 00:37] LuisBosquez commented on #261
Thanks @kardianos

[2017-04-26 00:37] #261 closed

[2017-04-27 00:09] denisenkom commented on #260
Agree

[2017-04-27 00:30] kardianos commented on #251
@mjibson Here is my POC for the MS SQL driver to support OUTPUT parameters.
https://github.com/denisenkom/go-mssqldb/commit/0a7dca4ffb539829dd34bc34ee2d2e227e69f494#diff-fd31321fc6476abe1517235c03a0aa8cR141

The code to support other parameters would be simpler.  Much a POC, but I think the message loop could be done in terms of a custom parameter passed.

The POC still isn't done, but all that ne

[2017-05-14 14:29] fisshy commented on #214
I end up with EOF when running longer queries. I usually end up creating a stored procedure to handle longer queries.

[2017-05-16 20:52] jivasoft opened #262 "Need example writing to DateTime"
Getting a conversion error when writing a time.Time value to MSSQL DateTime column. Would greatly appreciate an example showing what needs to be done to make it work.

[2017-05-16 21:04] dimdin commented on #262
[code]

[2017-05-16 22:20] jivasoft commented on #262
Thank you. I was focused on a date time field I was populating but the error was caused by another field that had a zero value. I really appreciate the quick turnaround.

Daniel Ryan
Jivasoft Corporation
(956) 723-8200
danryan@jivasoft.com
www.jivasoft.com

[2017-05-16 22:21] #262 closed

[2017-05-22 02:50] vadimi opened #263 "Table Valued Parameters support"
Is there a way to pass table valued parameters to stored procedures using `go-mssqldb`? I briefly checked the code and couldn't find TVP support, just want to double check if I missed it.

https://msdn.microsoft.com/en-us/library/dd304813.aspx

[2017-05-22 03:02] kardianos commented on #263
There is no TVP support at this time. Support will now be possible starting in go1.9 due to the recent work to allow driver specific parameters. So this is an optimal time to start investigating them.

[2017-05-22 19:47] LuisBosquez commented on #240
@kardianos just found a way to get you some Azure credits. Will ping you via email to figure out the details.

Also, I'm currently working on the feedback and have a few questions:

- I agree with the use of named parameters. The only problem I see is that it seems like the Named() method belongs to the sql object and not the connection pool. In my current design I pass the connection pool object

[2017-05-22 22:00] kardianos commented on #240
@LuisBosquez Regarding named parameters: `sql` isn't an object/struct, it is a package, the C# equiv of a namespace (for the most part). So it is correct to refer to anywhere. In C# we don't pass around namespace references, in Go we don't pass around package names, we import them per file. Make sure you DON'T open a new sql.DB for every query. A `*sql.DB` is an explicit connection pool. In ADO.NE

[2017-05-23 23:51] brydavis commented on #176
I'm experiencing similar error message.

Connection works fine in SQL Server Management Studio.

However, not so using driver.

Please help (and reopen issue). Thanks!

[2017-05-24 00:15] kardianos commented on #176
Please specify the port.
you can use `sqlserver://user:pass@host:1433/instance?database=dbname` as the DSN.

[2017-05-24 04:07] LuisBosquez commented on #240
@kardianos Thanks so much for the feedback! I created a second iteration with the Context changes, using "sqlserver", and named parameters. Posted them on GitHub for easier collaboration: https://github.com/LuisBosquez/golang-experiments/tree/master/tutorials

What do you think?

[2017-05-24 09:40] simenfd opened #265 ""Column Encryption Setting=enabled" not working"
This might not be an issue, as much as it is a missing feature:

It seems like sql server has a feature called "always encrypted" which can be enabled by writing "Column Encryption Setting=enabled;" in the connection string.  The idea is that the driver pulls some keys from a certificate and automatically decrypts the encrypted columns.  Currently, this is not working with this driver.

[2017-05-24 16:55] brydavis commented on #176
Sorry, that didn't work. :(

[2017-05-24 20:02] kardianos commented on #265
@simenfd Can you link to official docs in the TDS documentation?

[2017-05-24 20:04] kardianos commented on #258
@johnweldon The consensus is to drop support for the mssql version that processed queries. If it worked for you in the past, use that. If you're writing new queries, use "sqlserver" driver.

[2017-05-24 20:04] #258 closed

[2017-05-24 20:05] kardianos commented on #251
The upshot is that custom parameters with output variable support went it. The message loop didn't go into the std lib, but should be possible to support outside of the stdlib.

[2017-05-24 20:05] #251 closed

[2017-05-24 20:07] #249 closed

[2017-05-24 20:09] kardianos commented on #248
Does the server support encryption? What does the sql server logs say? What version of SQL server are you using?

[2017-05-24 20:10] kardianos commented on #245
Go1.9 will support custom parameters. I would like decimal support for input parameters to take advantage of this.

[2017-05-24 20:10] #239 closed

[2017-05-24 20:10] #237 closed

[2017-05-24 20:13] kardianos commented on #235
From your last error message it looks like your certificate name is different then the DNS name you use to connect to the server. If that is the case, you need to set "hostNameInCertificate" in the connection string to match the certificate name.

[2017-05-24 20:15] kardianos commented on #220
@VimalKumarS For me to pursue this I would need more information. Does the server connection drop right away, after auth, or sometime in the middle? How reliable is your network connection? How far apart are the client and server physically?

[2017-05-24 20:19] dimdin commented on #265
They use AES-256 with CBC and HMAC with SHA-512 for column encryption.
The latest version of TDS spec is https://msdn.microsoft.com/en-us/library/dd304523.aspx
FEATUREEXTACK message is used for column encryption feature activation and version, and COLMETADATA is extended with keys.

[2017-05-24 20:20] kardianos commented on #155
What go version are you using? SQL Server version? Can you reproduce with a non-private certificate?

[2017-05-24 20:23] kardianos commented on #144
@ScottHuangZL If you are using windows auth, what versions of NTLM does the server support? I think we only support NTLMv1 at the moment.

[2017-05-24 20:24] #144 closed

[2017-05-24 20:25] kardianos commented on #78
Support for output parameters will be in Go1.9. I have a feature branch already worked up that may be used as the basis for adding this feature.

[2017-05-25 01:16] xkeyideal commented on #248
sql server version is 2008 R2.

this my code
`
package main

import (
	"database/sql"
	"fmt"
	"net/url"

	_ "github.com/denisenkom/go-mssqldb"
)

func main_mssql() {
	query := url.Values{}
	query.Add("database", "test")
	u := &url.URL{
		Scheme: "sqlserver",
		User:   url.UserPassword("sa", "123qwe!@#"),
		Host:   fmt.Sprintf("%s", "10.101.22.65"),
		// Path:  instance, // if connecting to an inst

[2017-05-25 01:28] xkeyideal commented on #248
It's been too long, I had solve the problem by using ADO.

I remember support encryption, but I must set the encrypt = true.

[2017-05-27 02:56] TheRealGregD commented on #176
kardianos - brydavis is connecting to a SQL Server 2014 SP2 instance; if that makes any difference.

[2017-05-28 21:50] regevbr opened #266 "azure read: connection reset by peer"
Hi,

I know there are a lot of azure related bugs in here but none of them gives a solution.
I'm trying to connect to my auzre db:
[code]
with connection string
[code]
And all I see in the log is:
[code]
The azure firewall is configured properly and the credentials are ok. When I try to use Encrypt=False or Encrypt=disable it failes misserably as well...

Can you please help?

[2017-05-28 22:03] kardianos commented on #266
I'm assuming same parameters work on a different client. Your Reed port
looks odd. Can you specify the port on the host colon separated.

On Sun, May 28, 2017, 14:51 regev <notifications@github.com> wrote:

[2017-05-28 22:28] regevbr commented on #266
Actually, running this connection string directly on your module works fine. Somehow the issue is with the telegraf sqlserver input. I opened a bug there...
https://github.com/influxdata/telegraf/issues/2861

[2017-05-28 22:28] #266 closed

[2017-05-30 01:10] rbucker opened #267 "connection reset by peer"
I've been staring at #217 but it offers no real help. My configuration is basically the same.... GOlang version, I'm using the latest go-mssqldb version... but I'll get BeginRead errors like "EOF" or "reset by peer." I tried the "select @@version" but that did not help.

My difference might be SQL Server (SP1-GDR) 13.0.4202.2
DEC 13 2016

[2017-05-30 17:05] rbucker commented on #267
the problem seems to be VERY long SQL strings. No proof yet.

[2017-05-30 17:21] rbucker commented on #166
turning encryption off is not an option. My keep alive and connection timeout are30 and 600 and they still fail. This needs to be reopened

[2017-05-30 18:07] kardianos commented on #166
Can you provide a test program that connects to an azure database with encryption and fails? That would be super useful.

[2017-05-30 18:16] rbucker commented on #166
;with
        config_cte (config) as (
                select *
                        from ( values
                        ('_partition:{\"Fill\":{\"PatternType\":\"solid\",\"FgColor\":\"99ff99\"}}')
                        , ('_separation:{\"Fill\":{\"PatternType\":\"solid\",\"FgColor\":\"99ffff\"}}')
                        , ('Monthly Earnings:\$#,##0.00 ;(\$#,##0.00)')

[2017-05-30 18:33] joetaber commented on #221
@kardianos I don't know how I decided to revisit this out of the blue the same minute you updated issue 19055, seems like quite a coincidence.

You say "I think this can be solved with messages.go if a driver supports it." Could you describe or show how this might look to the user?

[2017-05-30 18:43] kardianos commented on #166
Great! I've got a confirmed failing test case. I'll be able to diagnose and fix now. Thanks!

[2017-05-30 18:53] kardianos commented on #267
Yes, this does indeed to seem the case. Any long reads, strings or otherwise, seem to trigger this.

I assume we have a bug with the netlib implementation esp under encryption. Looking into this.

[2017-05-30 18:54] kardianos commented on #267
See #166 for more details.

[2017-05-30 19:11] kardianos commented on #221
[code]

The `retmsg` argument won't get passed to the query as it will be removed by the driver when checking the arguments by returning a special error message.

[2017-05-30 19:49] brydavis commented on #176
Issue resolved.

Problem was DNS not recognizing the specific `server`.

Solution was to replace with IP address. (Always the simple fixes that haunt us the most.)

Works regardless of either connection string format.

Thanks

[2017-05-31 23:12] rbucker commented on #166
There was an ISSUE that suggested that setting the keepalive=30 and connection timeout=300 would work. It worked for a while on different queries but then crashed today.  FOO!

[2017-06-01 11:50] kylebrandt opened #268 "Improve Bulksql Schema Check"
Currently `Select *` https://github.com/denisenkom/go-mssqldb/blob/78a11f640437e0807f8bf101411762c8adbe7574/bulkcopy.go#L282 is executed on bulk inserts for the entire table which results in blocks and long running queries when someone tries to do a schema modification.

Thinking this should be:
 1) Maybe use `INFORMATION_SCHEMA.COLUMNS`
 2) Possibly add a schema cache?

[2017-06-01 13:16] captncraig commented on #268
Our use case involves doing a high volume of bulk inserts to a large number of tables (~5000 tables,  ~7000 bulk inserts per minute). Fetching the metadata, while fairly light, takes a significant amount of effort at that volume.

Would like to streamline the query as much as possible, and possibly add some kind of mode to use cached metadata, or just trust the column set given by the caller. Not

[2017-06-01 13:43] kardianos commented on #268
I want to inspect and work on the bulk API soon. This is valuable information.

[2017-06-02 03:42] rbucker commented on #166
I'm debugging the code and I noticed one thing.... Since I'm using pooled connections.... immediately before this SQL was executed the driver opened a new connection to the driver.

[2017-06-02 14:30] rbucker commented on #166
This link to the MS TDS documentation suggests that maybe TDS 7.4 is required for SQL Server 2016: https://msdn.microsoft.com/en-us/library/dd339982.aspx

[2017-06-02 15:58] rbucker commented on #166
Here is some interesting information.... There is clearly a problem with the server in that it must be performing some sort of sanity check on the SQL and if it looks suspicious that is resets the connection. I suppose this must be some sort of DOS or PEN protection.  For example I had a small SQL that looks like:   select getdate()*/}} d
and it resulted in a connection reset.

[2017-06-02 16:01] rbucker commented on #166
And another note:
[code]

produced these results. I would have expected one row or one row per supported TDS version

[code]

[2017-06-02 23:00] kardianos commented on #166
So far I have tested a few things. No fixes yet. Issue is probably in this driver's handling of encrypted connection in the netlib TDS layer. I can replicate the issue locally on both a linux and windows installed SQL Server if I turn encryption on and run TestAzureDatabase.

I'll continue to look into it as I get a chance. If someone else wants to look into it, I would recommend comparing the TDS

[2017-06-09 14:07] rbucker commented on #166
Soe Azure documentation talks about sql server firewalls. Since I'm using pooling could that be the issue? Also... I execute a query, read the first row, then generate some SQL and open a second connection, execute that query... which may or may not reset... close that result set, read another record from the the first result set and repeat until exhausted.

[2017-06-09 14:11] rbucker opened #270 "does deadline interfere with multiple active queries"
I know that MS has a specific definition for MARS. My scenario is that I have nested open queries....

select * from table....
   read a row
   select * from table
   process the results
loop

If the inner SQL takes too long will the deadline (hardcoded to 5 seconds) terminate or cause a reset connection.

[2017-06-09 21:41] rbucker opened #271 "LittleEndian vs BigEndian : doc"
just for the sake of documentation is seems that LittleEndian is used almost exclusively but there are a few instances of BE. Can someone comment those exceptions and reference the DOC?

[2017-06-09 21:43] kardianos commented on #271
The TDS protocol is based on two different protos. netlib is the framing protocol and is big endian, and TDS is sent on top of that and is little endian.

[2017-06-10 12:37] #271 closed

[2017-06-10 15:33] kardianos commented on #270
@rbucker Neither this driver nor Azure supports MARS. Both however both this driver and Azure support returning multiple result sets.

From the get go I would look into cursor or cross apply.

But your issue is with query timeout. Have you tried to set either of the DSN parameters:
[code]
I'm assuming the only one that would be of importance to you is the connection timeout.

[2017-06-10 16:03] rbucker commented on #270
yep, tried the timeouts with all sorts of different values.

[2017-06-10 16:03] #270 closed

[2017-06-10 16:45] kardianos commented on #270
Could I reproduce it with `select 1;sleep 40000; select 1;` ?

[2017-06-12 18:13] audgster commented on #166
Hello! Do you have an ETA on this issue?

[2017-06-12 18:33] kardianos commented on #166
No. I'm currently working on some database/sql issues for go1.9 that need to get done before the first cut. I'll see if I can work on it tomorrow morning.

[2017-06-13 19:41] kardianos commented on #166
database/sql changes are merged and docs are sent. I'll work on this next.

[2017-06-14 00:25] rbucker commented on #166
I know you have not started in this yet... but wanted to point out that the error has changed per changes made in a different issue:

[code]

[2017-06-20 14:25] ivankorobkov opened #272 "BeginTx(ctx) does not correctly handle closed contexts"
`db.BeginTx(ctx)` does not correctly handle closed contexts and leaves a connection in a bad state.
Next transactions returns: `mssql: New request is not allowed to start because it should come with valid transaction descriptor.`

How to reproduce:
[code]

[2017-06-21 18:04] rbucker commented on #166
still no progress here.

[2017-06-23 15:04] sunnyque commented on #166
this issue got me again so we found a workaround (not clearly understand why its working)

while reproducing this issue with local MSSQL 2016 with "encrypt=true" when using "packet size=2048" problem goes away (with 4096 issue reproduces just like with Azure SQL)

then I switched to test this with Azure and got "Invalid packet size, it is longer than buffer size" error when using smaller packet si

[2017-06-23 15:30] delmorof opened #273 "Issue on named parameters parsing"
After introduction of the named parameters, queries that use static functions fails during parsing of parameters.

## Reproducer code:
[code]

## Failure Message:
`--- FAIL: TestGeometryFunction (0.06s)
        queries_test.go:344: Query failed with sql: statement expects 1 inputs; got 0`

[2017-06-23 22:26] kardianos commented on #273
Please use driver name "sqlserver" `conn, err := sql.Open("sqlserver", "...")`